<template>
  <div class="home">
    
    <section class="about d-flex align-items-center text-light py-5 mt-30" id="about">
      <div class="container" >
        <div class="row d-flex align-items-center">
          <div class="col-lg-7">
            <p>ABOUT US</p>
            <h1>Digital Tanzania Project</h1>
                <p class="py-2 para-light">
                The Digital Tanzania Project (DTP) is a project being implemented by the Ministry
                of Communication and Information Technology 
                (MCIT) in collaboration with the President’s Office,
                Public Service Management and Good Governance (PO-PSMGG).
                </p>
                <br/>
                <p class="py-2 para-light">
                The project also involves other stakeholders including the Ministry of Finance and Planning (MoFP);
                the President’s Office Regional Administration and Local Governments (PO-RALG);
                e-Government Authority (e-GA); Information and Communication Technology Commission (ICTC);
                Tanzania Posts Cooperation (TPC); Universal Communications Service Access Fund (UCSAF);
                 and the World Bank (WB).
                </p>
                <br/>
                <p class="py-2 para-light">
                The objective of the Project is to increase access to high quality internet services for government
                and citizens and to improve the government’s capacity to deliver digital public services. 
                In this regard, the Project is geared towards accelerating the digital economy in Tanzania.
                </p>
                <br/>
                <p class="py-2 para-light">
                The DTP is structured around four components, three of which seek to contribute to core enablers of digital development:
                (a) The Digital Ecosystem:  Aimed at strengthening the laws, policies, regulations, institutional 
                capacity, and human capacity needed to promote ICT infrastructure investment, market 
                competitiveness, digital engagement, job creation, and innovation; (b) Digital Connectivity:
                Aimed at ensuring access to affordable, high-quality internet services for all citizens, 
                including those in rural areas, and for critical government institutions; (c) Digital 
                Platforms and Services: Aimed at building enhancing the core infrastructure and capacity
                necessary to support digital public service delivery, increase the efficiency of the Government 
                of Tanzania’s internal operations, and roll out priority digital productivity platforms and
                public services. A fourth component (d) supports Project Management.
                </p>
                <br/>
                <p class="py-2 para-light">
                The Project which being implemented for 5 years (2021-2026), is expected to achieve the 
                following results<br/> 
                 (i)  additional 13 million Tanzanians with new or improved mobile coverage;<br/>
                (ii) improved provision and delivery of public services and online transactions by citizens,<br/>
                (iii) enabled lower bandwidth prices for Government through bulk procurement of international
                bandwidth<br/>
                (iv) improved digital and professional ICT skills amongst youth, entrepreneurs
                and government officials through targeted support programs,<br>
                (v) enablement of “digital industrialization” by providing the enabling environment and support to ICT industry.
                </p>
          </div>
          <div class="col-lg-5 text-center py-4 py-sm-0">
            <img class="img-fluid" src="../assets/images/about.png" alt="about" >
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of about -->

   
  </div>
</template>
