
<template>
  <div>
    <b-form  @submit.prevent="submitComment()">
   <div class="row">
   <div class="col">
<b-form-group label="First Name:" >
        <b-form-input
        id="input-group-1"
        name="first_name"
        v-model="comment.first_name"
        required
      >
      </b-form-input>
      </b-form-group>
   </div>
     <div class="col">
       <b-form-group label="Middle Name:" >
          <b-form-input
        id="input-group-1"
        name="title"
        v-model="comment.middle_name"
        required
      >
      </b-form-input>
      </b-form-group>
   </div>
   </div>


     <div class="row">
   <div class="col">   

      <b-form-group label="Last Name:" >
          <b-form-input
        id="input-group-1"
        name="title"
        v-model="comment.last_name"
        required
      >
      </b-form-input>
      </b-form-group>
 </div>
<div class="col">
        <b-form-group label="Designation:" >
        <b-form-input
        id="input-group-1"
        name="designation"
        v-model="comment.designation"
        required
      >
      </b-form-input>
      </b-form-group>
  </div>
   </div>
    <b-form-group label="Comment Title:" >
          <b-form-input
        id="input-group-1"
        name="title"
        v-model="comment.title"
        placeholder="Enter Title"
        required>
      </b-form-input>
      </b-form-group>

      <b-form-group label="Comment Description:" >
      <b-form-textarea 
        id="input-group-1"
        name="description"
        v-model="comment.description"
        placeholder="Enter Description"
        required
        rows="5">
      </b-form-textarea>
      </b-form-group>

   
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
   
  </div>
</template>
<script>
import axios from 'axios';

export default {
 
  
  data() {
      return{
         submitButton: 'Submit',
         loading: false,
         comment:{
          title:null,
          description:null,
          title_id: null,
          first_name:null,
          last_name:null,
          middle_name:null,
          designation:null
        }
        
      }
  },
  created: function() {
    
    },
  
  methods: {
    submitComment: function() {
        this.loading = true;
         axios.post('comments',this.comment)
      .then(response => {
          console.log(response);
           this.loading = false;
           this.$bvModal.hide('comment_modal')
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
