<template>

  <div class="home">
   
    <section class="d-flex align-items-center py-5 mt-30 text-light" id="about">
  
  <div class="container" >
   
      <div class="row">

             <p>REVIEW OUR FEEDBACK</p>
            <h1>Digital Tanzania Project</h1>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                    <form ref="form" class="pull-left"
                    @submit.prevent="listComments" >
                    <input type="text" 
                    class="form-control" 
                    v-model="search"
                    placeholder="Search Ticket" 
                    aria-label="Ticket Number">
                    </form>
            </div>
        </div>
        <div class="row">
            <div class= "row" v-if="loading">
            Loading....
            </div>
        <div class="testimonial-card pt-10" 
        v-for="comment in comments" :key="comment.id">
            <div class="ms-3 pt-2">
                <p class="links-ans">{{comment.description}}</p>
                <p>
                    <span class="links-ans">By:</span>
                <i>
                    {{comment.firstName}} 
                    {{comment.middleName}} 
                    {{comment.lastName}} 
                    ({{comment.designation}}) - 
                    <span class="links-ans">
                        Posted At:
                    </span>
                    {{formatDate(comment.created_at)}}
                </i>
                <span v-if="comment.ticket_no" class="links-ans">
                Ticket No:</span> {{comment.ticket_no}}
                </p>
                <span style="width:100%; padding:20px;"
                v-for="answer in comment.answers" :key="answer.id">
                    <i class="links-ans">
                    Replay: 
                    </i>
                    {{conv(answer.description)}}<br/>
                </span>
               
            </div>
            </div>
            <div class="text-center testimonial-card pt-10" 
            v-if="comments.length == 0">
                    No Record Found
            </div> 
          
            <div class="row paginations">
                
                <center>
                <button v-on:click="prev"
                        :disabled="page==1"
                        class="btnp">
                    PREV
                </button>
                <button
                     v-on:click="next" 
                     :disabled="isLastPage==null"
                     class="btnp"
                     >
                    NEXT
                </button>
                </center>
                
                </div> 
        </div>
 
  </div>
  </section>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment'
import convert from '../htmltotext';

export default {

data() {
    return {
        loading: false,
        errored: false,
        comments: [],
        search: null,
        message:"",
        page:1,
        isLastPage:null,
    }
    },
created: function(){
    this.listComments();
},
methods:{
formatDate: function(datettime){
    return  moment(datettime).format('YYYY/MM/DD hh:mm');
},
 conv: convert.conver,
 listComments: function(){
     this.loading = true;
 axios.get('comment/answers',{
     params:{
         search:this.search,
         page: this.page
     }
 })
      .then(response => {
        this.comments = response.data.data;
        this.page = response.data.current_page;
        this.isLastPage = response.data.next_page_url;

        this.loading = false;

      })
      .catch(error => {
        console.log(error)
        this.errored = true;
        this.loading = false;
      })
      .finally(() => this.loading = false)
  },
  next() {
      this.page ++;
      this.$router.push({
        path: this.$route.path,
        query: { page: this.page }
      });
        this.listComments();
    },
    prev() {
      this.page --;
      this.$router.push({
        path: this.$route.path,
        query: { page: this.page }
      });
        this.listComments();
    },
  },
  
}
</script>

<style scoped>
.testimonial-card.pt-10 {
    margin-top: 10px;
    padding-bottom: 10px;
}
.testimonial-card .links-ans{
    color:#0ee951;
}
.paginations{
    padding-top:10px;
}
.btnp{
    border-radius: 0;
    border-width: 2px;
    border-image-slice: 1;
    width: 50px;
    margin-right: 2px;
    border-image-slice: 1;
    font-size: 10px;
    color: white;
    background-image: none;
    background: transparent;
    border-image-source: var(--gradient);
}
</style>