<template>
    <section class="work d-flex align-items-center text-light mt-10">
      <div class="container" >

            <p>CONTACT US</p>
            <h1>Digital Tanzania Project</h1>
          <div class="row">
          <div class="col-md-10">
             <h4>
              Contact Information
            </h4>
                      <ul style="margin-top:2px;">
                        <li>
                            <b>
                            <i class="fas fa-caret-right cont-attr"></i> Email:
                            </b> dtpmalalamiko@mawasiliano.go.tz
                          </li>
                          <li>
                            <b>
                            <i class="fas fa-caret-right cont-attr"></i> Phone No:
                            </b> +255 733 000 444
                          </li>
                           <li>
                            <b>
                            <i class="fas fa-caret-right cont-attr"></i> Phone No:
                            </b> +255 755 160 005
                          </li>
                          <li>
                              <b>
                              <i class="fas fa-caret-right cont-attr"></i> <a>Address:</a>
                              </b>  
                              P.O.BOX 677, Sengia Road,
                              Kisusu Street, Area D’ 
                              Dodoma- Tanzania
                          </li>
                      </ul> 
          </div>
          </div>
            <div class="row">
            <div class="col-md-10">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78949.70123690034!2d35.73298004779836!3d-6.1990398437898095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x184de5aaaecc2939%3A0xe7c527c0d7fa5b39!2sSite%20Two%2C%20Area%20D%2C%20Sengia!5e0!3m2!1sen!2stz!4v1631187375671!5m2!1sen!2stz"
                width="100%" height="300" style="margin-top:40px; border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            </div>
          </div>
    </section> <!-- end of about -->
</template>
