<template>
    <section class="services d-flex align-items-center text-light" id="about">
      <div class="container" >
        <div class="row d-flex">
          <div class="col-lg-7">
            <p>FAQ</p>
            <h1>Digital Tanzania Project</h1>
            <p>
               The following are Frequently Asked Questions on the DTP Grievance Redress Mechanism:-
            </p>
            <p class="py-2 para-light">
            <ul class="faql">
                <span class="col-md-12 faqrow"  v-for="(faq, index) in faqs" :key="faq.id">
                  
                  <span class="col-md-12 questionfaq" v-on:click="showAnswer(index)">
                       <li><span class="nu">{{index + 1}}. </span> {{conv(faq.question)}}</li>   
                  </span>
                  <span class="col-md-12 answerfaq" v-if="currentAnswer == index">
                  <a class="links-ans">
                    Answer:
                  </a>   {{conv(faq.answer)}} 
                  </span>
                  
                </span>
                </ul>
              </p>
          </div>
          <div class="col-lg-5 text-center">
            <img class="img-fluid" src="../assets/images/faq.png" alt="FAQ" >
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of about -->

</template>

<script>
import axios from 'axios';
import convert from '../htmltotext';

export default {

data() {
    return {
        loading: false,
        errored: false,
        faqs: [], 
        message:"",
        currentAnswer:null
    }
    },
created: function(){
    this.listFaqs();
},
  methods:{
  conv: convert.conver,
  showAnswer: function(index){
      this.currentAnswer = index;
  },
 listFaqs: function(){
 axios.get('allfaqs')
      .then(response => {
        this.faqs = response.data.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },

  },
  
}
</script>

<style>
.faql li .nu {
  color: green;
  font-size: 18px;
}
.faql .faqrow{
  width:100%;
  float:left;
  border-bottom: 1px solid #0080005c;
  margin-bottom:5px;
}
.questionfaq, .answerfaq{
padding:10px;
width:100%;
float:left;

}
.questionfaq{

}
.answerfaq{
  padding-left:30px;

}
</style>