<template>
  <div class="service">
    <section class="services align-items-center py-5 text-light mt-30" id="service">
      <div class="container" >
        <div class="row">

          <div class="col-lg-2">
              <img class="img-fluid" src="../assets/images/service.jpeg" alt="FAQ" >
          </div>
          
      <div class="col-lg-8">
        <p>GRIEVANCE REDRESS </p>
        <h1>Digital Tanzania Project</h1>
      
        <h2>About this Platform</h2>
     
        <p class="py-2 para-light">
          The Digital Tanzania Program (DTP) Grievance Redress Mechanism (GRM) is a web application system 
          which allows the submissions of Digital Tanzania Project (DTP) grievances, from anywhere in the
           world at any time. Communities, Individuals or Stakeholders who believe that they are adversely 
           affected by activities under DTP and its Sub-Projects may submit complaints to existing project-level 
           grievance redress mechanisms as stipulated in the GRM Flow Charts (General DTP GRM Flow Chart & Procurement GRM Flow Chart).
            The GRM System ensures that complaints received are promptly reviewed in order to address project-related concerns. 
            Project affected Communities, Individuals or Stakeholders may submit their complaints through the Grievance Lodging link.
        </p>

        <p class="py-2 para-light">
          Once the complaints are received, they will be forwarded to the respective entities for vetting and action 
          and favourable redress. Each grievance lodged will be assigned a unique auto-generated number for tracking the 
          concerns and progress of resolutions.
        </p>
         <p class="py-2 para-light">
              Issues not taken up for redress include: -<br/>
              i)	Political Matters<br/>
              ii)	Matters concerning Court/Judicial/Legal Matters<br/>
              iii)	Personal and Family disputes<br/>
              iv)	Any matters contravening international laws and the laws of the United Republic of Tanzania.
         </p>
        
         <p class="py-2 para-light">
           <b>Feedback:</b> We will appreciate to receive your feedback on the quality of grievance 
           resolution. This will help us improve our services. All grievances shall be 
           subject to the rules and procedures as stipulated in the GRM Flowchart as 
           well as in the Stakeholders Engagement Plan (SEP) of the project.
        </p>
        
         <p class="py-2 para-light">
          <b>Note: </b> If you have not received satisfactory redress on your grievances within reasonable period of 
           time as per the chart,
            please contact Mr. Honest Njau (Project Coordinator) phone Number +255 713 494 345
         </p>
        <b>
        General Grievance Redress Mechanism Flowchart
        </b>
        <p class="py-2 para-light">
          The DTP GRM provides a process for receiving, evaluating, 
          and addressing project related complaints from affected Communities, 
          Individuals or Stakeholders at all levels. The terms ‘Grievance’ and 
          ‘Complaint’ are used interchangeably. The following are the steps for
           handling the complaints:-
        </p>
       
         <p class="py-2 para-light">
           <b>Step 1: Lodge Grievance</b> <br/>
            Complaint is sent to DTP through the following channels:<br/>
            <i class="fas fa-caret-right"></i> The DTP GRM platform under the DTP Website<br/>
            <i class="fas fa-caret-right"></i> Email to dtpmalalamiko@mawasiliano.go.tz<br/>
            <i class="fas fa-caret-right"></i> Phone call 0733000444<br/>
            <i class="fas fa-caret-right"></i> Suggestions/ Complaints box installed at DTP Offices in 
            Area ‘D’ Kisusu Street, Dodoma.<br/>
            Complaint is registered in the GRM log folder/file
         </p>
         <p class="py-2 para-light">
           <b>Step 2: Acknowledgement</b> <br/>
          For all complaints through email or DTP GRM Platform, 
          an auto acknowledgement will be sent out to the complainant within 2
           working days upon receiving the complaint. DTP will allocate a person 
           to manage the redress process.
         </p>
        <p class="py-2 para-light">
           <b>Step 3: Grievance Assessment</b> <br/>
          Assessing and sorting grievances for eligibility and forwarding to relevant 
          entity at least 2 working days. In the event the grievance is ineligible 
          the complainant will be informed within 7 working days
         </p>
         <p class="py-2 para-light">
           <b>Step 4: Investigations and internal follow-up</b> <br/>
           The responsible entity will investigate and provide advice on solution(s) or action(s) 
           to be taken within 14 working days upon the grievance assessment.
         </p>
        <p class="py-2 para-light">
           <b>Step 5: Feedback to Complainant</b> <br/>
           Feedback will be sent to the Complainant by email or letter, upon completion of the redress,
            if the Complainant is satisfied with the feedback the case is closed. The Complainant will
             then be given a written resolution within 14 working days.<br/>
             If the Complainant is not satisfied with the feedback, the Complainant 
             is advised to seek further  internal or external advices.
         </p>
         <p> <img class="img-fluid" src="./grm/flowchat.png" alt="FAQ" >
         </p>
        <h3>Procurement Complaints Management</h3>
        <p class="py-2 para-light">
         The Procuring Entities-PEs, being public bodies, are required to follow complaints handling mechanisms
         provided under the revised Public Procurement Act No. 7 of 2011 and its amendment of 2016. The mechanism provides 
         two levels for handling procurement complaints. The first level is the Administrative review by the Head of the Procuring 
           Entity who shall deal with the first submission.<br/>
         If the complaint is not resolved at this level, the complaint is forwarded to the second level which is the Appeals Authority 
         (Public Procurement Appeals Authority - party is not satisfied at this level, the matter may be referred for judicial review. 
         Timelines for handling complaints will be as follows:
         </p>
        <p class="py-2 para-light">
            i.	The accounting officer shall, within fourteen (14) days after receipt of the complaint or dispute, deliver a written decision
            to a complainant and other tenderers who participated in the proceedings. The accounting officer shall submit a copy of the decision 
            to the Authority within seven (7) days from the date of its delivery.<br/>
            ii.	Complaints or disputes which-are not settled within the specified period, then the complaint shall be referred to the Appeals Authority 
            within fourteen (14) days from the date when the tenderer received the decision of the accounting officer or, in case no decision is issued 
            after the expiry of the time stipulated.
          </p>
          <p>
               <img class="img-fluid" src="./grm/stepflow.png" alt="FAQ" >
          </p>
      </div>
          <!-- <div class="col-lg-5 text-center py-4 py-sm-0">
            <img class="img-fluid" src="../assets/images/about.jpg" alt="about" >
          </div> -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of about -->


  </div>
</template>
<style>
   body{
      background-color:#1c262f !important;
   }
  
</style>