<template>
  <div class="home">
    
      <!-- Home -->
      <section class="home py-1 d-flex align-items-center" id="header">
        <div class="container py-2" style="color:#EEE;">
        <div class="row">
        <div class="col-lg-7">
          <h1 class="headline">Digital
             <span class="home_text">Tanzania</span><br>Project (DTP)</h1>
          <p class="para-light py-3">
            The Digital Tanzania Project (DTP) is a project being implemented by the Ministry of 
            Communication and Information Technology (MCIT) in collaboration with the President’s Office,
             Public Service Management and Good Governance (PO-PSMGG). 
          </p>
          <div class="d-flex align-items-center">
            <p class="p-2"><i class="fas fa-laptop-house fa-lg"></i></p>
            <p>Professional ICT Skills</p>
          </div>
          <div class="d-flex align-items-center">
            <p class="p-2"><i class="fas fa-wifi fa-lg"></i></p>
            <p>Support ICT Industries</p>
          </div>
          <div class="my-3">
            <router-link 
            class="btn" 
             to="/home/service">
               View Project Components
            </router-link>
          </div>

        </div>
        <div class="col-lg-5" style="padding-top:200px;">
          <center>
             <ring-loader :loading="loavding" :color="color" :size="size"></ring-loader>
          </center>
        </div>
        </div>
        </div>
      </section>
    <!--End of Home Section-->

    <!-- About -->
    <section class="about d-flex align-items-center text-light py-2" id="about">
      <div class="container" >
        <div class="row d-flex align-items-center">
          <div class="col-lg-7">
            <p>ABOUT US</p>
            <h1>About DTP</h1>
                <p class="py-2 para-light">
                The Digital Tanzania Project (DTP) is a project being implemented by the Ministry
                of Communication and Information Technology 
                (MCIT) in collaboration with the President’s Office,
                Public Service Management and Good Governance (PO-PSMGG).
                <br/>
                The project also involves other stakeholders including the Ministry of Finance and Planning (MoFP);
                the President’s Office Regional Administration and Local Governments (PO-RALG);
                e-Government Authority (e-GA); Information and Communication Technology Commission (ICTC);
                Tanzania Posts Cooperation (TPC); Universal Communications Service Access Fund (UCSAF); and the World Bank (WB).
                <br/>
                The objective of the Project is to increase access to high quality internet services for government
                and citizens and to improve the government’s capacity to deliver digital public services. 
                In this regard, the Project is geared towards accelerating the digital economy in Tanzania.
                </p>
            <div class="my-3">
               <router-link 
            class="btn" 
             to="/home/about">
               Learn More
            </router-link>
            </div>
          </div>
          <div class="col-lg-5 text-center py-4 py-sm-0">
            <img class="img-fluid home-img-about" src="../assets/images/about.png" alt="about" >
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of about -->


    <!-- Services -->
    <section class="services d-flex align-items-center py-2" id="services">
      <div class="container text-light text-center">
        <div class="text-center pb-4" >
          <p class="text-center">OUR SERVICES</p>
          <h2 class="py-2 text-center">
             Digital Transformation
          </h2>
          <p class="para-light text-center">
            <a>
              Digital Transformation
            </a> Is the game changer for Modern Economies.
          </p>
        </div>
        <div class="row gy-4 py-2">
          <div class="col-lg-4">
            <div class="card bg-transparent">
              <i class="fas fa-home fa-2x"></i>
              <h4 class="py-2">DIGITAL ECOSYSTEM</h4>
              <p class="para-light">i. Digital Enabling Environment 
              (Establishment of National ICT Professional and information Center, Establishment of ICT equipment
              refurbishment $ Scanning of ICT Regulatory Environment.<br>
              ii. Infrastructure to Support National Development and E-Commerce 
              (Enhancing the National Addressing and postcode system, Development of
              the National Statistical Information Mnagement System and National e-Commerce initiatives).</p>
            </div>
          </div>
           <div class="col-lg-4">
            <div class="card bg-transparent">
              <i class="fas fa-phone fa-2x"></i>
              <h4 class="py-2"> DIGITAL PLATFORM AND SERVICES</h4>
              <p class="para-light">
              i. Digital Services and Productivity platforms (One-Stop Service Centers – Huduma Pamoja Centers) 
              in every region (offering access to public online services and in person transactions,
                 transformation of the traditional economy into digital economy).<br>
                 ii. Data Centre Infrastructure (Enhancement of datacenter infrastructure). <br>
                 iii. Digital Literacy and Capacity Building (Government ICT Cadre Training Programme 
                 & Citizen Digital Literacy and Awareness Program).
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card bg-transparent">
              <i class="fas fa-wifi fa-2x"></i>
              <h4 class="py-2"> DIGITAL CONNECTIVITY</h4>
              <p class="para-light">i. Connected Government(connecting all unconnected MDAs and LGAs 
              to high-speed broadband through extension of the Government
                 Communication Network and increasing capacity of the Government Bandwidth).
             <br>
             ii. Rural Broadband for Development (expanding rural mobile coverage and upgrading service from 2G 
             to enable broadband connectivity and utilization of spectrum white space.
              </p>
            </div>
          </div>
          
            </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of services -->
 <!-- Contact -->
    <section class="contact d-flex align-items-center py-2 home-grm" id="contact">
      <div class="container-fluid text-light">
        <div class="row">
          <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center px-lg-5">
            <div style="width:90%">
              <b-form  @submit.prevent="submitComment()">
              <div class="text-center text-lg-start py-4 pt-lg-0">
                <p>SEND YOUR QUERY</p>
                <h2 class="py-2">
                  Grievance Redress Mechanism (GRM)
                </h2>
                <p class="para-light">
                We are welcoming all to provide your feedback how is your concern about ICT
                 related technologies impact your life in your deaily activities, 
                 Please provide your query about this by filling the form bellow:-
                  </p>
              </div>
              <div>
                <div class="row" >
                  <div class="col-lg-6">
                    <div class="form-group py-2">
                      <input type="text" 
                      class="form-control form-control-input" 
                       placeholder="Enter First name"
                       required
                       v-model="comment.first_name"
                       >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group py-2">
                      <input type="text" 
                      class="form-control form-control-input" 
                       placeholder="Enter Last Name"
                       required
                       v-model="comment.last_name">
                    </div>
                  </div>
                </div>

                <div class="row" >
                  <div class="col-lg-4">
                    <div class="form-group py-2">
                      <input type="text" 
                      class="form-control form-control-input"
                      placeholder="Enter Designation"
                      v-model="comment.designation"
                      >
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group py-2">
                      <input type="email"
                       class="form-control form-control-input" 
                        placeholder="Enter Email"
                        required
                        v-model="comment.email">
                    </div>
                  </div>
                </div>
                <div class="form-group py-1">
                  <input type="text" 
                  class="form-control form-control-input" 
                  placeholder="Enter Subject"
                  required
                  v-model="comment.title">
                </div>
                <div class="form-group py-2">
                  <textarea class="form-control form-control-input" 
                   rows="4" placeholder="Message"
                   required
                   v-model="comment.description"
                   >
                   </textarea>
                </div>
                 <div class="row" >
                  <div class="col-lg-6">
                    <div class="form-group py-1">
                     <vue-recaptcha @verify="markRecaptchaAsVerified"
                     sitekey="6LePb14eAAAAAAafLxY-_C2wwtb6Lq2SemSfns4B"
                     :loadRecaptchaScript="true">
                     </vue-recaptcha>
                     <span class="text-danger" v-if="pleaseTickRecaptchaMessage">
                       {{pleaseTickRecaptchaMessage}}
                     </span>
                </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="my-3">
                      <b-button 
                      class="btn form-control-submit-button"
                      style="float:right"
                      type="submit">
                      Submit
                      </b-button>
                      </div>
                  </div>
                </div>
               
              </div>
            
              
               </b-form>
            </div> <!-- end of div -->
          </div> <!-- end of col -->

          <div class="col-lg-6 d-flex align-items-center">
            <img class="img-fluid d-none d-lg-block" 
            src="../assets/images/query.png" alt="contact">
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of contact -->


          <!-- Location -->
    <section class="location text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center" >
            <div class="p-2"><i class="fas fa-mobile-alt fa-3x"></i></div>
            <div class="ms-2">
              <h6>CALL FOR QUERY</h6>
              <p>
              (255) 733 000 444<br/>
              (255) 755 160 005
              </p>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-center" >
            <div class="p-2"><i class="far fa-envelope fa-3x"></i></div>
            <div class="ms-2">
              <h6>SEND US MESSAGE</h6>
              <p>dtpmalalamiko@mawasiliano.go.tz</p>
            </div>
          </div>
           <div class="col-lg-4 d-flex align-items-center" >
            <div class="p-2"><i class="far fa-map fa-3x"></i></div>
            <div class="ms-2">
              <h6>LOCATION</h6>
              <p>
                Sengia Road, Kisusu Street, 
                Area D Dodoma - Tanzania
              </p>
            </div>
          </div>
       
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of location -->


  
<!-- Newsletter -->
    <!-- <section class="newsletter text-light py-2">
      <div class="container">
        <div class="row" >
          <div class="col-lg-6 text-center text-lg-start">
            <h4 class="py-1">Subscribe to our Newsletter</h4>
            <p class="para-light">
             Subscribe to our Newsletter to receive new updates by enter your valid email here
               </p>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <div class="input-group my-3">
              <input type="text" 
              class="form-control p-2" 
              placeholder="Enter your email address" aria-label="Recipient's email">
              <button class="btn-secondary text-light" type="button">Subscribe</button>
            </div>
          </div>
        </div>  
      </div> 
    </section> -->
    <!-- end of newsletter -->

  </div>
</template>

<script>
import axios from 'axios';
import RingLoader from 'vue-spinner/src/RingLoader.vue';
import  { VueRecaptcha } from 'vue-recaptcha';


export default {
  data() {
      return{
         submitButton: 'Submit',
         loading: false,
         recaptchaVerified: false,
         pleaseTickRecaptchaMessage: '',
         comment:{
          title:null,
          description:null,
          title_id: null,
          first_name:null,
          last_name:null,
          middle_name:null,
          designation:null,
          email:null
        },
        color: '#0ee951',
        size: '100px',
        margin: '1px',
        radius: '5px'
      }
  },
  components: { 
     RingLoader,
     VueRecaptcha
  },
  methods: {
     markRecaptchaAsVerified() {
      this.recaptchaVerified = true;
      this.pleaseTickRecaptchaMessage = '';
    },
    submitComment: function() {
       if (!this.recaptchaVerified) {
        this.pleaseTickRecaptchaMessage = 'Please tick recaptcha.';
        return ; 
      }
      if(this.comment.first_name.length <= 2){
        return
      }
      if(this.comment.last_name.length <= 2){
        return
      }
        this.loading = true;

      axios.post('comment/store',this.comment)
      .then(response => {
          this.$toast.success(response.data);
          this.comment = {};
          this.loading = false;
          this.pleaseTickRecaptchaMessage = '';
      })
      .catch(error => {
          this.loading = false;
           alert(error.response.data);
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
