<template>
 <div class="service">
    <section class="services align-items-center py-5 text-light mt-30" id="service">
      <div class="container" >
        <div class="row">
          <div class="col-lg-2">
              <img class="img-fluid" src="../assets/images/service.jpeg" alt="FAQ" >
          </div>
      <div class="col-lg-8">
        <p>SERVICES</p>
        <h1>Digital Tanzania Project</h1>
       <p class="py-2 para-light">
        <h3 class="service_padding">
             Component 1: Digital Ecosystem
        </h3>
        <h4 class="service_padding">
            Sub-Component 1.1: Digital Enabling Environment
        </h4>
        <h6 class="service_padding_bold">
           Activity:(a)  Establishment of a National Center for ICT Professional Development and Innovation
        </h6>
        <p class="py-2 para-light">
        The aim of this activity is to develop a National Center for ICT Professional Development and a series of ‘soft centers’, or tech hubs for youth, entrepreneurs, and SMEs, in five zones of the country, to promote local innovation in the country. The implementation of this activity will be carried out by MCIT in collaboration with higher learning institutions (HLIs), vocational training institutions, and the industry, as well as with the Ministry of Education, Science and Technology (MoEST) and the Commission for Science and Technology (COSTECH). The activity will involve close collaboration with the private sector to ensure that newly trained ICT professionals are ready to enter the workforce and have the qualifications and soft skills demanded by private sector companies, including cybersecurity awareness and skills. The national center will be established in Dodoma, while four soft centers will be housed in training institutions or universities. The soft centers will be located in four zones, namely the Northern, Southern, Coastal, and Western zones.
        </p>
        <h6 class="service_padding_bold">
            Activity:(b) Establishment of Fabrication Laboratories  
        </h6>
        <p class="py-2 para-light">
        This activity aims to establish Fabrication Laboratories (FabLabs) to enhance local capacity for the refurbishment of ICT hardware and updating of software to enable the reuse and increased lifetime of ICT equipment and to complement efforts to distribute ICT equipment to educational institutions. This will contribute toward the acquisition of low-cost ICT equipment for learning purposes. In addition, establishing FabLabs will reduce e-waste and build capacity in Tanzania for reusing and prolonging the lifespan of ICT equipment, which is an important future strategy for tackling e-waste. Up to three FabLabs would are expected to be established. The soft centers and FabLabs are also expected to promote digital entrepreneurship and the results framework will track the number of digital businesses that are created or sustained through the project, as well as number of jobs created, including the increase in the number of female employees. 
        </p>
        <br/>
        <h6 class="service_padding_bold">
            Activity:(c) ICT regulatory scan and review
        </h6>
         <p class="py-2 para-light">
        Under this activity, the MCIT, will cooperate with other stakeholders and in consultation with the licensed operators to conduct a scan of the legal and policy environment so as to identify possible gaps that might be hindering the development of the digital economy in Tanzania and to review possible responses. This will target broadband implementation and provide recommendations on any new initiatives that may be necessary to create an enabling regulatory, legal, and fiscal environment for the digital economy. The activity will look at national statements of digital policy and look at legislation under development, such as on data protection or freedom of information. It will benchmark the status of digital economy development in Tanzania against other countries in the region.
        </p>
        <h4 class="service_padding">
            Sub-Component 1.2: Infrastructure to support National ICT Development and e-Commerce    
        </h4>
         <h6 class="service_padding_bold">
            Activity:(a) Enhancing the National Addressing and Postcode System  
        </h6>
         <p class="py-2 para-light">
           This is activity builds up on an ongoing activity and will scale up the pilot projects for the National Spatial Data Infrastructure (NSDI), already started and managed by the TCRA, which currently covers 66 wards. The initiative is expected to cover an additional 711 wards from 37 councils, which includes capital cities, strategic areas, central business districts, and other high-revenue-generating areas. The activities under this initiative involve development of digital maps, naming of roads/streets and installation of signage and house number plates; data collection; enhancement/update of the national Address Database, preparation/review of policies and regulations, ICT works, and awareness and capacity building. The NSDI, or digitized map with multiple different layers, will provide a platform on which information can be layered to support key activities such as the national digital identification (ID) and spatial maps for national development, taking into account requirements for data protection.    
        </p>
        <h6 class="service_padding_bold">
            Activity:(b) Development of a national ICT statistical information management system 
        </h6>
         <p class="py-2 para-light">
        This activity aims to provide complete, accurate, and current statistical data for ICT in the country to support policy decisions for national development. This data would be collected, for instance, by carrying out household ICT surveys, building on the survey carried out in 2017 by the WBG in conjunction with the National Bureau of Statistics (NBS), with funding from the Digital Development Partnership (DDP) used by the NBS for national reporting. The surveys will track usage trends by gender, age, wealth, education and urban/rural status. The results framework will record the number of respondents, above the age of 15, who are internet users, of which the percentage who are female. In addition, it will facilitate investment growth in the ICT sector by providing useful data to potential investors. The activity also include development of an electronic management system, establish necessary frameworks for enhancing ICT statistics availability, and commission further surveys for key ICT indicators under the guidance of the NBS.
        </p>
        <h6 class="service_padding_bold">
             Activity:(c) E-Commerce initiatives for Tanzania Posts Corporation
        </h6>
        <p class="py-2 para-light">
        This activity is intended to assist the Tanzania Posts Corporation (TPC) to catch up with recent technological developments and participate more actively in the delivery of e-Commerce. The initiative will later allow integration with global e-Commerce including the Universal Postal Union’s (UPU) Ecom@Africa initiative. The initiative seeks to make Tanzania a hub for e-Commerce in the region and will enhance e-business growth and the participation of citizens in the digital economy.
        </p>
        <h3 class="service_padding">
        Component 2: Digital Connectivity
        </h3>
        <h4 class="service_padding">
        Sub-Component 2.1: Connected Government 
        </h4>
         <p class="py-2 para-light">
        This sub-component will support the connection to high-speed broadband of those MDAs, LGAs, and other government institutions that are currently unconnected, or have only slow-speed connections to the GovNet. It will build on the successful connectivity program initiated under the RCIP-TZ, under which around 72 MDAs and 77 LGAs were connected to GovNet. Further 200 institutions including LGAs, regional offices, regional hospitals, district hospitals, and other MDAs will be connected to high-performance internet services. Given that the extension of digital connectivity within the country is paramount, a reliable and robust ICT backbone infrastructure as well as a strong governance, technical, and operational framework and capacity development for the security of the backbone, GovNet, and their connected networks from cyberattacks, hijacking, and breaches is a necessity. In view of this, the project will support the enhancement of GovNet to provide resilience routes as well as the extension of coverage of the national backbone to areas needed by telecom operators and other communication service providers for provision of services to citizens and businesses. Furthermore, the DTP will fund the pre-purchase of bulk internet capacity of at least 1.5 Gbps per location for 10 years (that is, as an ‘indefeasible right of use’ [IRU] contract). The capacity will be used by MDAs and LGAs to facilitate government service delivery. 
        </p>
        <h4 class="service_padding">
             Sub-Component 2.2: Rural Broadband for Development
        </h4>
         <p class="py-2 para-light">
          This sub-component will build on the successful rural connectivity program supported under 
          the RCIP-TZ by extending data-enabled (3G or higher) network coverage to the three million 
          people currently living in areas of the country that are currently unserved by any mobile 
          cellular signal and will upgrade existing 2G networks to 3G and above. This will encourage
          participation in digital economy development and will help those rural areas that have previously
          been unable to participate in online learning or remote meetings to do so. The activity will
          also make use of ‘Television White Spaces (TVWS)’ spectrum for enhancing broadband coverage in the underserved areas.
          The activity will involve a study to provide <br/>
          (i) a thorough spectrum analysis that will help visualize the scope for using TVWS spectrum in rural areas and<br/> 
          (ii) policy and regulatory guidance on the use of this spectrum and license coverage.  
        </p>
        <h3 class="service_padding">
        Component 3. Digital Platforms and Services
        </h3>
        <h4 class="service_padding">
        Sub-Component 3.1 : Digital Services and Productivity Platforms  
        </h4>
        <h6 class="service_padding_bold">
        Activity: (a) One-Stop Service Centers  
        </h6>
         <p class="py-2 para-light">
        This activity will seek to improve existing processes and procedures for offering government services to citizens and small businesses by establishing 31 OSSCs (or Huduma Pamoja in Swahili), of which up to 10 will be implemented in the first two years of the project (eight on the mainland; two in Zanzibar). These centers will be designed for citizens to access public services in a simple, speedy, and seamless manner in one location, which may be operated, for instance, by a post office, a community association, or a local entrepreneur.
        </p>
         <h6 class="service_padding_bold">
        Activity: (b) Digital Economy  
        </h6>
         <p class="py-2 para-light">
        This activity, under the MCIT will focus on enhancement of GoT financial/payment systems by strengthening regulations pertaining to digital financial transactions, in collaboration with the Bank of Tanzania (BoT), and enhancing the National Payment System (NPS). Regulations, standards, and guidelines on recognized international practices for the protection of digital payments systems and digital financial services from cybercrime will be adopted, as will measures to protect the privacy of personal data in compliance with forthcoming legislation. By establishing skills and systems that better serve the digital economy, this activity should contribute to increasing revenue for the government. Financing under the activity will support consultant services and purchase of ICT goods and services, including software development and cybersecurity strengthening. 
        </p>
         <h4 class="service_padding">
        Sub-Component 3.2:  Data Center Infrastructure  
        </h4>
         <p class="py-2 para-light">
        This sub-component aims to enhance the National Internet Data Centre (NIDC) infrastructure by acquiring additional storage and networking equipment (goods) and computing resources (services) for the government shared platform. It also seeks to enable
        cost-effective sharing of resources, increasing the reliability of electronic services offered by the GoT and enhancing the storage of government data as well as creating efficiency in sharing and accessing government applications through shared cloud
        infrastructure. For highly sensitive government data and confidential private data, local data storage hosting on a government cloud may be required, rather than using private cloud services. For this purpose, an existing government data center and
        the NIDC will be used and enhanced with additional security and data storage capacity. The cybersecurity and physical security of the NIDC and its infrastructure will be assessed at the start of project implementation and via regular risk analyses
        and penetration tests throughout the lifetime of the project, with the recommendations from this assessment to address vulnerabilities of the facilities and to build the capacity of data center staff.
        </p>
         <h4 class="service_padding">
            Sub-Component 3.3: Digital Literacy and Capacity Building
        </h4>
         <h6 class="service_padding_bold">
        Activity:(a) Government ICT cadre training program
        </h6>
         <p class="py-2 para-light">
        This activity seeks to build the capacity of ICT professionals within the GoT for managing and supporting existing and future government ICT systems (supply side), based on an ICT skills gap assessment conducted in all ministries in 2018. The project
        foresees training in specialized ICT skills for up to 500 ICT experts from GoT ministries, with a balance between men and women, and longer courses (master’s degrees) at top-level universities worldwide.
        </p>
        <h6 class="service_padding_bold">
        Activity:(b) Citizen Digital Literacy
        </h6>
         <p class="py-2 para-light">
        This activity will support an awareness program that is intended to raise the level of utilization of online government services and that will run for the entire duration of the DTP. It will include, but not be limited to, social media, TV, and radio
        programming to promote e-Government services; TV adverts and short video clips; print media campaign; dissemination of publicity materials; and workshops and seminars (for media and the public). The awareness program will include campaigns directed
        to the public to sensitize it to cybersecurity and the protection of personal data as well as the rights of individuals to determine use of their personal data. The program will also resort to digital forums, conferences, exhibitions, and different
        digital competitions among youth to strengthen digital involvement and contribution in innovations and creativity. The activity intends to increase digital literacy in terms of increased awareness and usage of digital services by citizens, including
        specific consultations with the GoT and local stakeholders to ensure that women’s engagement with citizen services are accounted for.
        </p>
        
      </div>
          <!-- <div class="col-lg-5 text-center py-4 py-sm-0">
            <img class="img-fluid" src="../assets/images/about.jpg" alt="about" >
          </div> -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of about -->
</div>
</template>
<style>
   body{
      background-color:#1c262f !important;
   }
   .service_padding{
     margin-top:10px;
     margin-bottom:10px;
   }
  .service_padding_bold{
     margin-top:5px;
     margin-bottom:10px;
   }
  
</style>