<template>
    <section class="services d-flex align-items-center text-light" id="about">
      <div class="container" >
        <div class="row d-flex">
          <div class="col-lg-10">
            <p>TENDERS</p>
            <h1>Digital Tanzania Project</h1>
            <p>
               The following are tenders
            </p>
            <p class="py-2 para-light">
           <table class="table table-bordered text-light">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Uploaded At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(tender, index) in tenders.data" :key="tender.id">
          <th>{{index + 10*(page-1)+1}}</th>
          <td>{{tender.file_name}}</td>
          <td>{{tender.file_size}}</td>
      
          <td>{{formatDate(tender.created_at)}}</td>
          <td>
              <button 
                     class="btn btn-sm btn-primary"
                     v-on:click="download(tender.id)">
                     View
              </button>
          </td>
        </tr>
      </tbody>
    </table>  
              </p>
          </div>
          <div class="col-lg-2 text-center">
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </section> <!-- end of about -->

</template>

<script>
import axios from 'axios';
import moment from 'moment'

export default {

data() {
    return {
        loading: false,
        errored: false,
        tenders: [], 
        message:"",
        currentAnswer:null,
        page:1
    }
    },
created: function(){
    this.listTenders();
},
  methods:{
 listTenders: function(){
 axios.get('alltenders')
      .then(response => {
        this.tenders = response.data;
           console.log(this.tenders)
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  formatDate: function(datettime){
     return  moment(datettime).format('YYYY/MM/DD hh:mm');
    },
   download: function(id){
       axios.get('document/download?id='+id)
      .then(response => {
        this.message = response.data;
        window.location.href = this.$remoteHost+this.message;
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  },

  },
  
}
</script>

<style>
.faql li .nu {
  color: green;
  font-size: 18px;
}
.faql .faqrow{
  width:100%;
  float:left;
  border-bottom: 1px solid #0080005c;
  margin-bottom:5px;
}
.questionfaq, .answerfaq{
padding:10px;
width:100%;
float:left;

}
.questionfaq{

}
.answerfaq{
  padding-left:30px;

}
</style>