<template>
  <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
    Access Denied
 </h3>
  </div>
 <div class="col-md-12">
     <div class="denied" style="width:100%; height:100%; float:left; padding:20% 0 20%;">
          <center>
            <h5>
              Access
                <span class="text-danger">
                    Denied
                </span>
                </h5>
        </center>
     </div>
       
  </div>
  </section>
</template>

<script>

export default {

data() {
    return {
       
    }
    },
created: function(){
},
  methods:{

  },
  
}
</script>