
<template>
   <section class="row">
    <b-form  @submit.prevent="registerUpdatePermission()">
      
       <b-form-group label="Name:" >
     <b-form-input
          id="input-1"
          v-model="permissionData.name"
          label="Name:"
          placeholder="Enter Name"
          required
        ></b-form-input>
      </b-form-group>

  
      
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
   
  </section>
</template>
<script>
import axios from 'axios';

export default {
  
  data() {
      return{
         submitButton: 'Add',
         loading: false,
          userId:"",
        
      }
  },
  props:['permissionData'],
  created: function() {
         if(this.permissionData.id != null){
             this.submitButton ="Update";
        }
    },
  methods: {
    registerUpdatePermission: function() {
        this.loading = true;
         axios.post('permission/create',this.permissionData)
      .then(response => {
          console.log(response);
           this.loading = false;
            this.$bvModal.hide('permission_modal');
            alert(response.data);
      })
      .catch(error => {
          this.loading = false;
          console.log(error)
      })
      .finally(() => this.loading = false)
      
    },
    
  }
}
</script>
