
<template>
   <section class="row">
    <b-form  @submit.prevent="submitEditPage()">
      
       <b-form-group label="Question:" >
       <tinymce 
        id="d1"
        v-model="faqData.question"
       >
       {{faqData.question}}
        </tinymce>
      </b-form-group>


       <b-form-group label="Answer:" >
      <tinymce 
        id="d2"
        v-model="faqData.answer"
       >
       {{faqData.answer}}
        </tinymce>
      </b-form-group>
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
   
  </section>
</template>
<script>
import axios from 'axios';

export default {
  
  data() {
      return{
         submitButton: 'Add',
         loading: false,
         faqId:"",
         faqData: {
           id:"", 
           question:"", 
           answer:""
         }
      }
  },
  created: function() {
    this.faqId = this.$route.params.id;
        if(this.faqId != 0){
          this.faqData =  this.getfaq(this.faqId);
             this.submitButton ="Update";
        }
    },
  methods: {
    submitEditPage: function() {
        this.loading = true;
         axios.post('faqs',this.faqData)
      .then(response => {
          console.log(response);
           this.loading = false;
          this.$router.go(-1);
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    },
     getfaq: function(id) {
        this.loading = true;
         axios.get('faqs/'+id)
      .then(response => {
          console.log(response);
           this.loading = false;
           this.faqData = response.data;
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
