
<template>
   <section class="row">
     <div class="col-lg-10">
    <b-form  @submit.prevent="submitEditItem()">

      <b-form-group label="Title:" >
          <b-form-input
        id="input-group-1"
        name="title"
        v-model="itemData.title"
        placeholder="Enter Title"
        required
      >
      </b-form-input>
      </b-form-group>

      <b-form-group label="Name:" >
        <b-form-input
          id="input-1"
          v-model="itemData.icon"
          label="Name:"
          placeholder="Enter Name"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Description:" >
       <tinymce 
        id="d1"
        v-model="itemData.description"
       >
       {{itemData.description}}
        </tinymce>
      </b-form-group>
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
  </div>
  </section>
</template>
<script>
import axios from 'axios';
// import tinymce from 'vue-tinymce-editor'
export default {
  
  data() {
      return{
         submitButton: 'Add',
         loading: false,
         itemId:null,
         mama:"mama",
         itemData:{
           id:"", 
           title:"", 
           description:"", 
           icon:"", 
           page_id:""
         }
      }
  },

  created: function() {
   this.itemId = this.$route.params.id;
   this.itemData.page_id = this.$route.params.pageId;
        if(this.itemId != 0){
        this.itemData =  this.getItem(this.itemId);
             this.submitButton ="Update";
        }
    },
  components:{
    // tinymce
  },
  methods: {
    submitEditItem: function() {
        this.loading = true;
         axios.post('items',this.itemData)
      .then(response => {
          console.log(response);
          this.loading = false;
           this.$router.go(-1);
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    },
    getItem: function(id) {
         axios.get('items/'+id)
      .then(response => {
          console.log(response);
          this.itemData = response.data;
          this.loading = false;
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}

</script>
