
<template>
   <section class="row">
    <b-form  @submit.prevent="registerUpdateUser()">
      
       <b-form-group label="Name:" >
     <b-form-input
          id="input-1"
          v-model="userData.name"
          label="Name:"
          placeholder="Enter Name"
          required
        ></b-form-input>
      </b-form-group>

       <b-form-group label="Email:" >
      <b-form-input
          id="input-1"
          v-model="userData.email"
          label="Email:"
          placeholder="Enter Email"
          required
        ></b-form-input>
      </b-form-group>

       <b-form-group label="Role:" >
      <b-form-select
          id="select-1"
          class="form-control"
          v-model="userData.role"
          label="Role:"
          placeholder="Enter Role"
          required>
        <option 
          v-for="role in roles"
          :value="role.name"
          checked="checked"
          :key="role.name">
          {{role.name}}
        </option>
        </b-form-select>
      </b-form-group>
      
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
   
  </section>
</template>
<script>
import axios from 'axios';

export default {
  
  data() {
      return{
         submitButton: 'Add',
         loading: false,
          userId:"",
          roles:[],
        
      }
  },
  props:['userData'],
  created: function() {
         this.listRoles();
        if(this.userData.id != null){
             this.submitButton ="Update";
        }
    },
  methods: {

     listRoles: function(){
       this.loading = true;
 axios.get('roles')
      .then(response => {
        this.roles = response.data.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
    registerUpdateUser: function() {
        this.loading = true;
         axios.post('users',this.userData)
      .then(response => {
          console.log(response);
           this.loading = false;
            this.$bvModal.hide('user_modal');
            alert(response.data.data);
      })
      .catch(error => {
          this.loading = false;
          console.log(error)
      })
      .finally(() => this.loading = false)
      
    },
     getUser: function(id) {
        this.loading = true;
         axios.get('users/'+id)
      .then(response => {
          console.log(response);
           this.loading = false;
           this.userData = response.data;
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
