<template>
   <section class="row">
  <h3 class="float-start">
      Add Role
 </h3>
  <div class="row">
 <b-form  @submit.prevent="submitFormRole">
  <div class="col-md-12">
    <div class="col-md-4">
      <label>Role</label>
    <input
          class="form-control"
          id="input-group-1"
          name="title"
          v-model="role.name"
          placeholder="Enter Role"
          required/>
    </div>
  </div>
    <div class="col-md-12">
      <br/>
      <br/>
      <h5>Permissions</h5>
   <div class="row">
    <div class="col-md-3" v-for="permission in permissions" :key="permission.id">
            
            <input type="checkbox" v-model="role.permissions" :id="permission.id" :value="permission.name"/> 
            {{permission.name}} 

    </div>
    </div>
    </div>
     <div class="col-md-12">
       <center>
    <br/>
    <input type="submit" class="btn btn-primary" value="Add Role">
</center>
     </div>
 </b-form>
  </div>
  </section>
</template>

<script>
import axios from 'axios';

export default {

data() {
    return {
        loading: false,
        permissions: [],
        role:{
          permissions:[],
          name:""
        }
     
    }
    },
   
created: function(){
    this.listPermissions();
},
  methods:{
       submitFormRole: function() {
        this.loading = true;
       axios.post('role/create', this.role)
      .then(response => {
          console.log(response);
          alert("Role Created Successfully");
          this.$router.push('/admin/role');
           this.loading = false;
      })
      .catch(error => {
          this.loading = false;
          console.log(error)
      })
      .finally(() => this.loading = false)
      
    },
 listPermissions: function(){
 axios.get('permissions')
      .then(response => {
        this.permissions = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>