
<template>
   <section class="row">
    <b-form  @submit.prevent="submitEditPage()">
      <b-form-group label="Title:" >
      <b-form-input
        id="input-group-1"
        name="title"
        v-model="pageData.title"
        placeholder="Enter Title"
        required>
      </b-form-input>
      </b-form-group>

      <b-form-group label="Name:" >
        <b-form-input
          id="input-1"
          v-model="pageData.name"
          label="Name:"
          placeholder="Enter Name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Href:" >
        <b-form-input
          id="input-1"
          v-model="pageData.href"
          label="Name:"
          placeholder="Enter Href"
          required
        ></b-form-input>
      </b-form-group>

       <b-form-group label="description:" >
      <b-form-textarea 
        id="input-group-1"
        name="description"
        v-model="pageData.description"
        placeholder="Enter Description"
        required
        rows="5">
      </b-form-textarea>
      </b-form-group>
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
   
  </section>
</template>
<script>
//import { validationMixin } from "vuelidate"
//import { validationMixin } from '@vuelidate/core'
//import { required } from '@vuelidate/validators'
import axios from 'axios';

export default {
 // mixins: [validationMixin],
  props: ['pageData'],
  
  data() {
      return{
         submitButton: 'Add',
         loading: false
      }
  },
  created: function() {
        if(this.pageData.id != null){
             this.submitButton ="Update";
        }
    },
  /* */
  // validations: {
  //   item: {
  //     name: {
  //       required
  //     },
  //   }
  // },
  methods: {
    submitEditPage: function() {
        this.loading = true;
         axios.post('pages',this.pageData)
      .then(response => {
          console.log(response);
           this.loading = false;
           this.$bvModal.hide('page_modal')
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
