
<template>
   <section class="row">
  <div class="col-md-12">
               <div class="card card-default">
                    <div class="card-header">File Upload Component</div>
                    <div class="card-body">
                <div v-if="success !== ''" class="alert alert-success" role="alert">
                    {{success}}
                </div>
                <form @submit="submitFormDocument" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="filename" class="custom-file-input" id="inputFileUpload"
                                   v-on:change="onFileChange">
                                   <br/>
                            <label class="custom-file-label" for="inputFileUpload">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary" value="Upload">
                        </div>
                    </div>
                    <br>
                    <p class="text-danger font-weight-bold">{{filename}}</p>
                </form>
            </div>
            </div>
            </div>
  </section>
</template>
<script>
import axios from 'axios';

export default {
  
  data(){
    return {
                filename: '',
                file: '',
                success: '',
                uploads:{},
                page:1
            }
        },
  created: function() {

    },
  methods: {
    onFileChange(e) {
            //console.log(e.target.files[0]);
            this.filename = "Selected File: " + e.target.files[0].name;
            this.file = e.target.files[0];
            },
     submitFormDocument: function(e) {
            e.preventDefault();
            let currentObj = this;
            const config = {
            headers: {
                'content-type': 'multipart/form-data',
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
            }
            }

            // form data
            let formData = new FormData();
            formData.append('file', this.file);

            // send upload request
            axios.post('document/store', formData, config)
            .then(response=> {
                currentObj.success = response.data.success;
                currentObj.filename = "";
                 this.$bvModal.hide('document_modal');

                
            })
            .catch(function (error) {
                currentObj.output = error;
            });
            }
  }
}
</script>
