
<template>
    <section class="row">
      <div class="col-lg-10">
    <b-form  @submit.prevent="submitEditAnswer()">
      <b-form-group label="Title:" >
          <b-form-input
        id="input-group-1"
        name="title"
        v-model="answerData.title"
        placeholder="Enter Title"
        required
      >
      </b-form-input>
      </b-form-group>    
      <b-form-group label="description:" >
      <tinymce 
        id="d1"
        v-model="answerData.description"
       >
       {{answerData.description}}
        </tinymce>
      </b-form-group>
<center>
    <br/>
<b-button type="submit" variant="primary">
    {{submitButton}}
</b-button>
</center>
 </b-form>
  </div>
  </section>
</template>
<script>
import axios from 'axios';

export default {

  data() {
      return{
        submitButton: 'Add',
        answerId:null,
        answerData:{
          id:"",
          title:"",
          description:"",
          status:"",
          comment_id:""
        },
         loading: false
      }
  },
  created: function() {

     this.answerId = this.$route.params.id;
     this.answerData.comment_id = this.$route.params.commentId;
        if(this.answerId != 0){
         this.answerData = this.geAnswer(this.answerId);
             this.submitButton ="Update";
        }
    },
  
  methods: {
    submitEditAnswer: function() {
        this.loading = true;
         axios.post('answers',this.answerData)
      .then(response => {
          console.log(response);
          this.loading = false;
          this.$router.go(-1);
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    },
       geAnswer: function(id) {
        this.loading = true;
         axios.get('answers/'+id)
      .then(response => {
          console.log(response);
           this.loading = false;
           this.answerData = response.data;
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
