<template>
    <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
    Comments
 </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Fullname</th>
          <th scope="col">Ticket No</th>
          <th scope="col">Designation</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(comment, index) in comments.data" :key="comment.id">
          <th>{{index + 10*(page-1)+1}}</th>
          <td>{{comment.firstName}} {{comment.middleName}} {{comment.lastName}}</td>
          <td>{{comment.ticket_no}}</td>
          <td>{{comment.designation}}</td>
          <td>{{comment.title}}</td>
          <td>{{comment.description}}</td>
          <td>{{formatDate(comment.created_at)}}</td>
          <td>
          
            <router-link 
                     class="btn btn-sm btn-primary"
                     :to="'/admin/viewcomment/'+comment.id">View
              </router-link>
              
             <button 
              type="button" 
               v-on:click="deleteComment(comment.id)"
              class="btn btn-sm  btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
 <div class="col-md-12">
<div class="card-footer">
    <pagination 
      :data="comments" 
      @pagination-change-page="listComments">
    </pagination>
  </div>
  </div>
  </section>
</template>

<script>
import axios from 'axios';
import utils from '../../utils';

export default {

data() {
    return {
        loading: false,
        errored: false,
        comments: {}, 
        isNextPage:false,
        isPrevPage:false,
        message:"",
        page: 1
 

    }
    },
created: function(){
    this.listComments(this.page);
},
methods:{
  formatDate:utils.formatDate,

 listComments: function(page){
 axios.get('comments?page='+page)
      .then(response => {
        this.comments = response.data;
        this.isPrevPage = response.data.prev_page_url;
        this.page = response.data.current_page;
        this.isNextPage = response.data.next_page_url;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  deleteComment: function(id){
     if(confirm("Are you sure to delete this Comment ?")){
       axios.delete('comments/'+id)
      .then(response => {
        this.message = response;
        this.listComments();
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
  },
  },
  
}
</script>