<template>
    <section class="row">
        <!---Each page will load inside-->
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Web Visitors</h6>
                                    <h6 class="font-extrabold mb-0">
                                         {{dashboard.visitors}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                    <router-link  class="nav-dash"
                    to="/admin/comment">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue">
                                <i class="iconly-boldProfile"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Comments</h6>
                            <h6 class="font-extrabold mb-0">
                                {{dashboard.no_of_comments}}
                            </h6>
                        </div>
                    </div>
                    </router-link>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                <router-link  class="nav-dash" to="/admin/user">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Users</h6>
                                    <h6 class="font-extrabold mb-0">
                                         {{dashboard.no_of_users}}
                                    </h6>
                                </div>
                            </div>
               </router-link>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                             <router-link  class="nav-dash" to="/admin/faq">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Feedback</h6>
                                    <h6 class="font-extrabold mb-0">
                                         {{dashboard.no_of_feedback}}
                                    </h6>
                                </div>
                            </div>
                             </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Comments Submition Chart</h4>
                        </div>
                        <div class="card-body">
                             <apexchart
                              width="100%" 
                              type="bar" :options="chartOptions"
                               :series="series"></apexchart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Top 3 Month Comments</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                            <apexchart type="polarArea" 
                            :options="chartOptions2"
                            :series="series2">
                            </apexchart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>Latest Comments</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th width="40%">Name</th>
                                            <th>Comment</th>
                                            <th>Posted At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="latest_comment in dashboard.latest_comments" :key="latest_comment.id">
                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-md">
                                                        <img src="../../newassets/images/faces/1.jpg">
                                                    </div>
                                                    <p class="font-bold mb-0">
                                                        {{latest_comment.firstName}} {{latest_comment.lastName}}
                                                        </p>
                                                </div>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{latest_comment.description}}</p>
                                            </td>
                                             <td class="col-auto">
                                                <p class=" mb-0">{{formatDate(latest_comment.created_at)}}</p>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="../../newassets/images/faces/1.jpg" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">People</h5>
                            <h6 class="text-muted mb-0">{{dashboard.no_of_peoples}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Recent People</h4>
                </div>
                <div class="card-content pb-4" 
                v-for="recent_people in dashboard.recent_peoples" :key="recent_people.id">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="../../newassets/images/faces/4.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">
                                {{recent_people.firstName}} {{recent_people.lastName}}
                                </h5>
                            <h6 class="text-muted mb-0">  {{recent_people.email}}</h6>
                        </div>
                    </div>
                   
   
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Weekly Comments</h4>
                </div>
                <div class="card-body">
              

                     <apexchart type="pie" 
                                :options="chartOptions3"
                                 :series="series3">
                                 </apexchart>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
import { mapGetters } from "vuex";
import apexchart from 'vue-apexcharts';
import utils from '../../utils';

export default {
    data: function() {
      return {
        chartOptions: {
          chart: {
            id: 'vuechart-example',
            width: '100%'
            
          },
          fill: {
              opacity:1
              },
          xaxis: {
            categories: [
                'January',
                'February',
                'March',
                'April',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
                ]
          }
        },
        series: [{
          name: 'series-1',
          data: [30, 40, 35, 50, 49, 60, 70, 91,32,23,45,69]
        }],
       series2: [14, 23, 21],
          chartOptions2: {
            chart: {
              type: 'polarArea',
            },
            stroke: {
              colors: ['#fff']
            },
            fill: {
              opacity: 0.8
            },
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
          },
          series3: [25, 15, 44, 55, 41, 17],
          chartOptions3: {
            chart: {
              width: '100%',
              type: 'pie',
            },
            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            theme: {
              monochrome: {
                enabled: true
              }
            },
            plotOptions: {
              pie: {
                dataLabels: {
                  offset: -5
                }
              }
            },
            title: {
              text: "Monochrome Pie"
            },
            dataLabels: {
              formatter(val, opts) {
                const name = opts.w.globals.labels[opts.seriesIndex]
                return [name, val.toFixed(1) + '%']
              }
            },
            legend: {
              show: false
            }
          },
         }
    },
    component:{
        apexchart
    },
     computed: {
    ...mapGetters("auth",
      [
      "dashboard"
      ]
    )
  },
  mounted() {
    this.$store.dispatch('auth/dashboard');
  },
  methods:{
      formatDate:utils.formatDate
  }
};
</script>
<style>
.apexcharts-canvas{
    min-height:170px !important;
}
#vuechart-example{
    width:100% !important;
}
a.nav-dash{
text-decoration: none !important;
color: #6c757d !important;
}

</style>
<!--
 <style scoped  src="../../newassets/css/bootstrap_admin.css"></style>
  <style scoped  src="../../newassets/vendors/iconly/bold.css"></style>
  <style scoped  src="../../newassets/vendors/perfect-scrollbar/perfect-scrollbar.css"></style>
  <style scoped src="../../newassets/vendors/bootstrap-icons/bootstrap-icons.css"></style>
  <style scoped  src="../../newassets/css/app.css"></style>
----->