<template>
   <section class="row">
  <h3 class="float-start">
      Edit Role
 </h3>
  <div class="row">
 <b-form  @submit.prevent="submitFormRole" id="roleEditor">
  <div class="col-md-12">
    <div class="col-md-4">
      <label>Role</label>
    <input
          class="form-control"
          id="input-group-1"
          name="name"
          v-model="rolepermissions.name"
          placeholder="Enter Role"
          required/>
       <input type="hidden"
          name="id"
          v-model="rolepermissions.id"
          required/>
    </div>
  </div>
    <div class="col-md-12">
      <br/>
      <br/>
      <h5>Permissions</h5>
   <div class="row">
    <div class="col-md-3" 
    v-for="permission in rolepermissions.roles" :key="permission.id">
            
            <input type="checkbox"
              name="permissionss"
              :value="permission.name"
              :checked="permission.role_id"
              /> 
            {{permission.name}} 

    </div>
    </div>
    </div>
     <div class="col-md-12">
       <center>
    <br/>
    <input type="submit" class="btn btn-primary" value="Update Role">
</center>
     </div>
 </b-form>
  </div>
  </section>
</template>

<script>
import axios from 'axios';

export default {

data() {
    return {
        loading: false,
        permissions: [],
        rolepermissions:{}, 
        role:{
          permissions:[],
          name:""
        }
     
    }
    },
   
created: function(){
  this.role_id =  this.$route.params.id;
    this.rolePermissions(this.role_id);
},
  methods:{
       submitFormRole: function() {
  let formData = new FormData(document.getElementById("roleEditor"));
  // Display the values

  var perm = [formData.getAll('permissionss')];
  
      formData.append('permissions', perm);

        this.loading = true;
       axios.post('role/update', formData)
      .then(response => {
        alert("Role Updated Successfully");
          console.log(response);
           this.loading = false;
      })
      .catch(error => {
          this.loading = false;
          console.log(error)
      })
      .finally(() => this.loading = false)
      
    },

   rolePermissions: function(id){
 axios.get('role/permissions?id='+id)
      .then(response => {
        this.rolepermissions = response.data;
        console.log(this.rolepermissions);
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>