<template>
   <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
    Frequest Asked Question(FAQ)
 </h3>
    <router-link 
        class="btn btn-sm btn-primary float-end"
        :to="'/admin/faqregedit/'+0">
        Add
    </router-link>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th width="30%" scope="col">Question</th>
          <th width="30%" scope="col">Answer</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(faq, index) in faqs.data" :key="faq.id">
          <th>{{index +1}}</th>
          <td width="40%">{{faq.question}}</td>
          <td width="40%">{{faq.answer}}</td>
          <td>
               <router-link 
                     class="btn btn-sm btn-primary"
                     :to="'/admin/view_faq/'+faq.id">
                     View
                </router-link>
              <router-link 
              class="btn btn-sm btn-warning"
              :to="'/admin/faqregedit/'+faq.id">
              Edit
              </router-link>
              <button 
              type="button" 
               v-on:click="deleteFAQ(faq.id)"
              class="btn btn-sm  btn-danger ">
              Delete
              </button>
          </td>
        </tr>
      </tbody>
      </table>
<div class="card-footer">
    <pagination 
      :data="faqs" 
      @pagination-change-page="listFaqs">
    </pagination>
  </div>
  
    <b-modal id="faq_modal"
        ref="editFaqModal" 
        title="Edit/Add Faq" 
        hide-footer= true
        @hidden="listFaqs"
        @ok.prevent="submitEditFaq">
        <faq-form :faqData="faqData" />
    </b-modal>

  </div>
  </section>
</template>

<script>
import axios from 'axios';
import faqForm from './add_faq.vue'

export default {

data() {
    return {
        loading: false,
        errored: false,
        faqs: {}, 
        message:"",
        page:1,
        faqData:{},
        editIndex:null,
        faqDataEmpty:{
          id:null, 
          question:null, 
          answer:null
        }

    }
    },
    components: {
      faqForm 
    },
created: function(){
    this.listFaqs(this.page);
},
  methods:{
    closeModal(){
      this.$refs.editFaqModal.hide()
    },
     submitEditFaq(){
       this.$refs.editFaqModal.hide()
    },
    showEditPageModel(index, data) {
      // deep clone
      this.faqData = JSON.parse(JSON.stringify(data))
      // shallow clone
      // this.editPlace = Object.assign({}, data)
      this.editIndex = index

      this.$refs.editFaqModal.show()
    },
 listFaqs: function(page){
 axios.get('faqs?page='+page)
      .then(response => {
        this.faqs = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  deleteFAQ: function(id){
     if(confirm("Are you sure to delete this FAQ ?")){
 axios.delete('faqs/'+id)
      .then(response => {
        this.message = response;
        this.listFaqs();
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false);
     }
  }
  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>