<template>
   <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
    Pages
 </h3>
<button 
  type="button"
  class="btn btn-sm btn-primary float-end"
  @click="showEditPageModel(0, pageDataEmpty)">
  Add
</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Title</th>
          <th scope="col">Name</th>
          <th width="40%" scope="col">Description</th>
          <th scope="col">HREF</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(page, index) in pages.data" :key="page.id">
          <th>{{index +1}}</th>
          <td>{{page.title}}</td>
          <td>{{page.name}}</td>
          <td>{{page.description}}</td>
          <td>{{page.href}}</td>
          <td>
               <router-link 
                     class="btn btn-sm btn-primary"
                     :to="'/admin/view_page/'+page.id">View
                </router-link>
              <button 
              type="button"
              class="btn btn-sm btn-warning"
               @click="showEditPageModel(index, page)"
              >
              Edit
              </button>
              <button 
              type="button" 
               v-on:click="deletePage(page.id)"
              class="btn btn-sm  btn-danger">
              Delete
              </button>
          </td>
        </tr>
      </tbody>
      </table>  
      <div class="col-md-12">
<div class="card-footer">
    <pagination 
      :data="pages" 
      @pagination-change-page="listPages">
    </pagination>
  </div>
  </div>
    <b-modal id="page_modal"
        ref="editPageModal" 
        title="Edit/Add Page" 
        hide-footer= true
        @hidden="listPages"
        @ok.prevent="submitEditPage">
        <page-form :pageData="pageData" />
    </b-modal>

  </div>
  </section>
</template>

<script>
import axios from 'axios';
import PageForm from './add_page.vue'

export default {

data() {
    return {
        loading: false,
        errored: false,
        pages: {},
        page:1, 
        message:"",
        pageData:{},
        editIndex:null,
        pageDataEmpty:{
          id:null, 
          href:null, 
          name:null, 
          title:null, 
          description:null
        }

    }
    },
    components: { PageForm },
created: function(){
    this.listPages(this.page);
},
  methods:{
    closeModal(){
      this.$refs.editPageModal.hide()
    },
     submitEditPage(){
       this.$refs.editPageModal.hide()
    },
    showEditPageModel(index, data) {
      // deep clone
      this.pageData = JSON.parse(JSON.stringify(data))
      // shallow clone
      // this.editPlace = Object.assign({}, data)
      this.editIndex = index

      this.$refs.editPageModal.show()
    },
 listPages: function(page){
 axios.get('pages?page='+page)
      .then(response => {
        this.pages = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  deletePage: function(id){
     if(confirm("Are you sure to delete this Page ?")){
 axios.delete('pages/'+id)
      .then(response => {
        this.message = response;
        this.listPages();
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false);
     }
  }
  },
  
}
</script>