<template>
   <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
      Permissions
 </h3>
    <button 
      type="button"
      class="btn btn-sm btn-primary float-end"
      @click="showPermission(0, permissionDataEmpty)">
      Add New
    </button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th width="50%" scope="col">Name</th>
          <th width="30%" scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(permission, index) in permissions.data" :key="permission.id">
          <th>{{index +1}}</th>
          <td>{{permission.name}}</td>
          <td>{{formatDate(permission.created_at)}}</td>
          <td>
           <button 
                type="button"
                class="btn btn-sm btn-warning"
                @click="showPermission(index, permission)">
               Edit
            </button>
            <button 
              type="button" 
               v-on:click="deletePermission(permission.id)"
              class="btn btn-sm  btn-danger">
              Delete
            </button>
            </td>
        </tr>
      </tbody>
      </table>  
  </div>
    <div class="card-footer">
    <pagination 
      :data="permissions" 
      @pagination-change-page="listPermissions">
    </pagination>
    </div>
 <b-modal id="permission_modal"
        ref="editPermissionModal" 
        title="Edit/Add Permission" 
        hide-footer= true
        @hidden="listPermissions"
        @ok.prevent="registerUpdatePermission">
        <permission-form :permissionData="permissionData" />
    </b-modal>
  </section>
</template>

<script>
import axios from 'axios';
import permissionForm from './add_permission.vue';
import utils from '../../utils';

export default {
data() {
    return {
        loading: false,
        permissions: [], 
        page:1,
        permissionData:{
          id:null, 
          name:null
        },
        permissionDataEmpty:{
          id:null, 
          name:null
        }
    }
    },
components:{
  permissionForm
},
created: function(){
    this.listPermissions(this.page);
},
  methods:{
    formatDate:utils.formatDate,
     showPermission(index, data) {
      // deep clone
      this.permissionData = JSON.parse(JSON.stringify(data))
      // shallow clone
      // this.editPlace = Object.assign({}, data)
      this.editIndex = index

      this.$refs.editPermissionModal.show()
    },
    closeModal(){
      this.$refs.editPermissionModal.hide()
    },
 listPermissions: function(page){
 axios.get('apermissions?page='+page)
      .then(response => {
        this.permissions = response.data;
        console.log(this.permissions);
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  deletePermission: function(id){
     if(confirm("Are you sure to delete this Permission ?")){
       axios.post('permission/delete',{"id":id})
      .then(response => {
        this.message = response;
        this.listPermissions(this.page);
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false);
     }
  },
  

  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>