
<template>
   <section class="row">
      <div class="col-md-9">
  <h3>User Information</h3>
     <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{user.name}}</td>
        </tr>
         <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
         <tr>
          <th>Role</th>
          <td>
             <span v-if="user.role ==2">
                Admin
             </span>
             <span v-else>
                User
             </span>
             </td>
        </tr>
         <tr>
          <th>Created At</th>
          <td>{{formatDate(user.created_at)}}</td>
        </tr>
      </tbody>
    </table>
     
      </div>
      <div class="col-md-3">
   <fieldset>
<legend>Change Password</legend>

<b-form  @submit.prevent="changePassword()">
<table class="table table-bordered">
      <tr>
      <td>
      <b-form-group label="Curent Password:" >
      <b-form-input
      id="input-1"
      v-model="passData.oldPass"
      placeholder="Enter Current Password"
      required
      ></b-form-input>
      <span v-if="wrongCurrentPassword" class="text-danger">
      {{wrongCurrentPassword}}
      </span>
      </b-form-group>
      </td>
      </tr>
      <tr>
      <td>
      <b-form-group label="New Password:" >
      <b-form-input
      id="input-1"
      v-model="passData.newPass"
      min="6"
      placeholder="Enter New Password"
      required
      ></b-form-input>
      </b-form-group>
      </td>
      </tr>
      <tr>
      <td>
      <b-form-group label="Confirm New Password:" >
      <b-form-input
      id="input-1"
      v-model="passData.confPass"
      label="Email:"
      placeholder="Enter Confirm New Password"
      required>
      </b-form-input>
      <span v-if="passwordNotMatch" class="text-danger">
      {{passwordNotMatch}}
      </span>
      </b-form-group>
      </td>
      </tr>
      <tr>
      <td>
      <center>
      <br/>
      <b-button type="submit" variant="primary">
      {{submitButton}}
      </b-button>
      </center>
      </td>
      </tr>
   </table>
   </b-form>
   </fieldset>
      </div>
  </section>
</template>
<script>
import axios from 'axios';
import utils from '../../utils';

export default {
  
  data() {
      return{
         submitButton: 'Change Password',
         loading: false,
         passData: {
           email:"", 
           oldPass:"", 
           newPass:"",
           confPass:"",
         },
         passwordNotMatch:"",
         wrongCurrentPassword:"",
         user:{}
      }
  },
  created: function() {
     this.user = this.$store.state.auth.user;
    },
  methods: {
    formatDate:utils.formatDate,
    changePassword: function() {
       if(this.passData.newPass != this.passData.confPass){
          this.passwordNotMatch = "Passord not  Match";
          return;
       }
        this.passwordNotMatch = "";
        this.passwordNotMatch = "";

        this.loading = true;
        this.passData.email = this.user.email;
       axios.post('changePassword', this.passData)
      .then(response => {
          console.log(response);
           this.loading = false;
         // this.$router.go(-1);
          if(response.data.status == "error"){
                 this.wrongCurrentPassword ="Wrong Current password"
                return
            }
            alert("Password changed successfully");
            this.passData = {};
      })
      .catch(error => {
          this.loading = false;
        console.log(error)
      })
      .finally(() => this.loading = false)
      
    }
  }
}
</script>
