<template>
   <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
      Roles
 </h3>

    <router-link 
        class="btn btn-sm btn-primary float-end"
        :to="'/admin/add_role/'">
        Add New
    </router-link>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th width="50%" scope="col">Name</th>
          <th width="30%" scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(role, index) in roles.data" :key="role.id">
          <th>{{index +1}}</th>
          <td>{{role.name}}</td>
          <td>{{formatDate(role.created_at)}}</td>
          <td>
              <router-link 
                     class="btn btn-sm btn-warning"
                     :to="'/admin/edit_role/'+role.id">
                     Manage
              </router-link>
            <button 
              type="button" 
               v-on:click="deleteRole(role.id)"
              class="btn btn-sm  btn-danger">
              Delete
            </button>
            </td>
        </tr>
      </tbody>
      </table>  
  </div>
    <div class="card-footer">
    <pagination 
      :data="roles" 
      @pagination-change-page="listRoles">
    </pagination>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
import utils from '../../utils';

export default {

data() {
    return {
        loading: false,
        roles: [], 
        page:1
     
    }
    },
   
created: function(){
    this.listRoles(this.page);
},
  methods:{
  formatDate:utils.formatDate,
 listRoles: function(page){
 axios.get('roles?page='+page)
      .then(response => {
        this.roles = response.data;
        console.log(this.roles);
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  deleteRole: function(id){
     if(confirm("Are you sure to delete this Role ?")){
       axios.post('role/delete',{"id":id})
      .then(response => {
        this.message = response;
        this.listRoles(this.page);
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false);
     }
  },
  

  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>