
<template>
    <div class="container">
        <div class="row justify-content-center">
           
     <div class="col-md-12">
<button 
  type="button"
  class="btn btn-sm btn-primary float-end"
  @click="showDocumentModel()">
    Add New
</button>
  <h3 class="float-start">
    Documents
 </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">File Name</th>
          <th scope="col">File Size</th>
          <th scope="col">Created At</th>
          <th scope="col">Uploaded By</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(upload, index) in uploads.data" :key="upload.id">
          <td>{{index + 10*(page-1)+1}}</td>
          <td>{{upload.file_name}}</td>
          <td>{{upload.file_size}}</td>
          <td>{{formatDate(upload.created_at)}}</td>
          <td>{{upload.uploaded_by}}</td>
          <td>
            <button 
                     class="btn btn-sm btn-primary"
                     v-on:click="download(upload.id)">
                     View
            </button>
             <button 
                    type="button" 
                    v-on:click="deleteUpload(upload.id)"
                    class="btn btn-sm  btn-danger">
                    Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
  <div class="col-md-12">
<div class="card-footer">
    <pagination 
      :data="uploads" 
      @pagination-change-page="listUploads">
    </pagination>
  </div>
  </div>

    <b-modal id="document_modal"
        ref="submitFormDocument" 
        title="Add Document" 
        hide-footer= true
        @hidden="listUploads"
        @ok.prevent="submitEdituser">
        <document-form />
    </b-modal>

     </div>
        </div>
</template>

<script>
import axios from 'axios';
import documentForm from './add_document.vue'
import utils from '../../utils';

    export default {
        data(){
            return {
                filename: '',
                file: '',
                success: '',
                uploads:{},
                page:1
            }
        },
        components:{
            documentForm
        },
        created: function(){
            this.listUploads(this.page);
            },
  methods:{
    formatDate:utils.formatDate,
    showDocumentModel() {
        this.$refs.submitFormDocument.show()
    },
    closeModal(){
      this.$refs.submitFormDocument.hide()
    },

 listUploads: function(page){
 axios.get('document/uploads?page='+page)
      .then(response => {
        this.uploads = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
   download: function(id){
       axios.get('document/download?id='+id)
      .then(response => {
      this.message = response.data;
       // window.location.href = this.$remoteHost+this.message;
        window.open(this.$remoteHost+this.message, '_blank', 'fullscreen=yes');

      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  },

  
  deleteUpload: function(id){
     if(confirm("Are you sure to delete this Document?")){
       axios.post('document/delete',{"id":id})
      .then(response => {
        this.message = response;
       this.listUploads(this.page);
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
  },

        }
    }
</script>