<template>
   <section class="row">
  <div class="col-md-12">
  <h3 class="float-start">
      Users
 </h3>
<button 
  type="button"
  class="btn btn-sm btn-primary float-end"
  @click="showEditPageModel(0, userDataEmpty)">
  Add New
</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th width="10%" scope="col">Name</th>
          <th width="20%" scope="col">Email</th>
          <th width="20%" scope="col">Varified At</th>
          <th width="10%" scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users.data" :key="user.id">
          <th>{{index +1}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{formatDate(user.email_verified_at)}}</td>
          <td>
          {{user.role}}
          </td>

                <td>
                <button 
                type="button"
                class="btn btn-sm btn-warning"
                @click="showEditPageModel(index, user)">
               Edit
            </button>
             <button  v-if="!user.email_verified_at"
                type="button"
                class="btn btn-sm btn-success"
                @click="activateDeactivate(user.id, 'Activate')">
               Activate
            </button>
             <button  v-if="user.email_verified_at"
                type="button"
                class="btn btn-sm btn-info"
                @click="activateDeactivate(user.id, 'Deactivate')">
               Deactivate
            </button>
            <button 
              type="button" 
               v-on:click="deleteUser(user.id)"
              class="btn btn-sm  btn-danger">
              Delete
            </button>
            </td>
        </tr>
      </tbody>
      </table>  
    <div class="col-md-12">
    <div class="card-footer">
    <pagination 
    :data="users" 
    @pagination-change-page="listUsers">
    </pagination>
    </div>
    </div>
    <b-modal id="user_modal"
        ref="editUserModal" 
        title="Edit/Add User" 
        hide-footer= true
        @hidden="listUsers"
        @ok.prevent="submitEdituser">
        <user-form :userData="userData" />
    </b-modal>

  </div>
  </section>
</template>

<script>
import axios from 'axios';
import userForm from './add_user.vue';
import utils from '../../utils';

export default {

data() {
    return {
        loading: false,
        errored: false,
        users: {},
        page: 1, 
        message:"",
        userData:{},
        editIndex:null,
        userDataEmpty:{
          id:null, 
          name:null, 
          email:null,
          role:null
        }
    }
    },
    components: {
      userForm 
    },
created: function(){
    this.listUsers(this.page);
},
  methods:{
     formatDate:utils.formatDate,
    closeModal(){
      this.$refs.editUserModal.hide()
    },
     submitEditFaq(){
       this.$refs.editUserModal.hide()
    },
    showEditPageModel(index, data) {
      // deep clone
      this.userData = JSON.parse(JSON.stringify(data))
      // shallow clone
      // this.editPlace = Object.assign({}, data)
      this.editIndex = index

      this.$refs.editUserModal.show()
    },
 listUsers: function(page){
 axios.get('users?page='+page)
      .then(response => {
        this.users = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
  deleteUser: function(id){
     if(confirm("Are you sure to delete this User ?")){
       axios.delete('users/'+id)
      .then(response => {
        this.message = response;
        this.listUsers();
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false);
     }
  },
   activateDeactivate: function(id,action) {
        this.loading = true;
         axios.post('activate',{"id":id,"action":action})
      .then(response => {
        this.listUsers();
          console.log(response);
      })
      .catch(error => {
        console.log(error);
      });
    },

  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>