<template>
   <section class="row">

  <div class="col-md-12">
  <h3 class="float-start">
   View Comment
 </h3>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th width="60%" scope="col">Description</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{comment.title}}</td>
          <td>{{comment.description}}</td>
          <td>{{formatDate(comment.created_at)}}</td>
          
        </tr>
      </tbody>
      </table>

 <h3 class="float-start">
   Answers / Feedback
 </h3>
<router-link 
    class="btn btn-sm btn-primary float-end"
    :to="'/admin/answerregedit/'+0+'/'+comment.id">
    Add
  </router-link>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Answered By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody v-if="comment.answers.length > 0">
       <tr v-for="(answer, index) in comment.answers" :key="answer.id">
          <th>{{index +1}}</th>
          <td>{{answer.title}}</td>
          <td>{{answer.description}}</td>
          <td>{{answer.name}}</td>
          <td>{{formatDate(answer.created_at)}}</td>
          <td>
              <router-link 
                class="btn btn-sm btn-warning"
                :to="'/admin/answerregedit/'+answer.id+'/'+comment.id">
                Edit
              </router-link>
              <button 
              type="button" 
               v-on:click="deleteAnswer(answer.id)"
              class="btn btn-sm  btn-danger">
              Delete
              </button>
          </td>
        </tr>
      </tbody>
      </table>  
    <b-modal id="answer_modal"
    ref="editAnswerModal" 
    title="Edit/Add Answer" 
    hide-footer= true
    @hidden="viewComment"
    @ok.prevent="submitEditPage">
      <answer-form :answerData="answerData" />
    </b-modal>
</div>
  </section>
</template>

<script>
import axios from 'axios';
import utils from '../../utils';
import AnswerForm from './add_answer.vue'

export default {
data() {
    return {
        loading: false,
        errored: false,
        message:"",
        comment:{},
        commentId:"",
        editIndex:null,
        answerData:{},
        dataAnswer:{
          id:null, 
          title:null, 
          description:null, 
          comment_id:null
        } }
    },
    components: { AnswerForm },
created: function(){
    this.commentId = this.$route.params.id;
    this.dataAnswer.comment_id = this.commentId;
    this.viewComment();
},
  methods:{
    formatDate:utils.formatDate,
    closeModal(){
      this.$refs.editAnswerModal.hide()
     
    },
    showEditAnswer(index, data) {
      // deep clone
      this.answerData = JSON.parse(JSON.stringify(data))
      // shallow clone
      // this.editPlace = Object.assign({}, data)
      this.editIndex = index

      this.$refs.editAnswerModal.show()
    },
 viewComment: function(){
 axios.get('comments/'+this.commentId)
      .then(response => {
        this.comment = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },

  deleteAnswer: function(id){
     if(confirm("Are you sure to delete this Answer ?")){
 axios.delete('answers/'+id)
      .then(response => {
        this.message = response;
        this.viewComment();
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
  }
  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>