<template>
   <section class="row">

  <div class="col-md-12">
  <h3 class="float-start">
   View FAQ
 </h3>
 <router-link 
        class="btn btn-sm btn-warning float-end"
        :to="'/admin/faqregedit/'+faq.id">
        Edit
 </router-link>
  <table class="table table-bordered">
      <thead>
          <tr>
          <th scope="col">Question</th>\

          </tr>
          <tr>

          <th scope="col">Answer</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{faq.question}}</td>

          </tr>
          <tr>

          <td>{{faq.answer}}</td>
          
        </tr>
      </tbody>
      </table>

</div>
  </section>
</template>

<script>
import axios from 'axios';

export default {

data() {
    return {
        loading: false,
        errored: false,
        pageId:"",
        editIndex:null,
        faq:{
        }
    }
    },
    props:['user'],
created: function(){
    this.pageId = this.$route.params.id;
    this.viewFAQ(this.pageId);
},
  methods:{


 viewFAQ: function(pageId){
 axios.get('faqs/'+pageId)
      .then(response => {
        this.faq = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },

  deleteFaq: function(id){
     if(confirm("Are you sure to delete this FAQ ?")){
 axios.delete('items/'+id)
      .then(response => {
        this.message = response;
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
  }
  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>