
<template>
    <div class="container">
      <div class="row justify-content-center">
     
          <div class="col-md-12">
            <h3 class="float-start">
            View Document
            </h3>
            <!-- <VueDocPreview value="http://127.0.0.1:8004/public/images/documents/1644521708.docx" type="office" /> -->
            <VueDocPreview value="/Users/mwidady/Sites/gtp-api/public/images/documents/1644587939.pdf" type="office" />

            
          </div>
     </div>
        </div>
</template>

<script>
// import axios from 'axios';
import VueDocPreview from 'vue-doc-preview';

    export default {
        data(){
            return {
                filename: '',
                file: '',
                success: '',
                uploads:{},
                page:1
            }
        },
        components:{
            VueDocPreview
        },
        created: function(){
            },
  methods:{
  

        }
    }
</script>