<template>
   <section class="row">

  <div class="col-md-12">
  <h3 class="float-start">
   View Page
 </h3>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Name</th>
          <th scope="col">href</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{page.title}}</td>
          <td>{{page.name}}</td>
          <td>{{page.href}}</td>
          
        </tr>
      </tbody>
      </table>

 <h3 class="float-start">
   Items In Page: {{page.name}}
 </h3>
    <router-link 
        class="btn btn-sm btn-primary float-end"
        :to="'/admin/itemregedit/'+0+'/'+page.id">
        Add
    </router-link>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Title</th>
          <th width="50%" scope="col">Description</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="item.id">
          <th>{{index +1}}</th>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{formatDate(item.created_at)}}</td>
          <td>
              <router-link 
              class="btn btn-sm btn-warning"
              :to="'/admin/itemregedit/'+item.id+'/'+page.id">
              Edit
              </router-link>
              <button 
              type="button" 
               v-on:click="deleteItem(item.id)"
              class="btn btn-sm  btn-danger">
              Delete
              </button>
          </td>
        </tr>
      </tbody>
      </table>  

        <!-- <tinymce  
        id="d1"
        :value="mama"
        ref="tm">
        </tinymce> -->

</div>
  </section>
</template>

<script>
import axios from 'axios';
import utils from '../../utils';

export default {

data() {
    return {
        loading: false,
        errored: false,
        mama:"mama",
        page: {}, 
        items:[],
        message:"",
        itemData:{},
        pageId:"",
        editIndex:null,
        itemDataEmpty:{
          id:null, 
          title:null, 
          icon:null, 
          page_id:null, 
          description:null
        }
    }
    },
    props:['user'],
created: function(){
    this.pageId = this.$route.params.id;
    this.itemDataEmpty.page_id = this.pageId;
    this.viewPage(this.pageId);
     this.listItem();
},
  methods:{
formatDate:utils.formatDate,
 viewPage: function(pageId){
 axios.get('pages/'+pageId)
      .then(response => {
        this.page = response.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  },
 listItem: function(){
 axios.get('page/items/'+this.pageId)
      .then(response => {
        this.items = response.data.data;
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
       
  },
  deleteItem: function(id){
     if(confirm("Are you sure to delete this Page ?")){
 axios.delete('items/'+id)
      .then(response => {
        this.message = response;
        this.listItem();
      })
      .catch(error => {
        this.message = error;
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
  }
  },
  
}
</script>
<style>
.wrapper{
  background: #ffff;
}
</style>