 <template>
 
 <div class="myadmin-body">
     
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <router-link class="text-decoration-none"
                    to="/admin/dashboard">
                    ADMIN 
                </router-link>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block">
                    <i class="bi bi-x bi-middle"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
            <li class="sidebar-item">
                  <router-link 
                     class='sidebar-link'
                     to="/admin/dashboard">
                      <i class="bi bi-grid-fill"></i>
                      Dashboard
                    </router-link>
            </li>
            
            <li class="sidebar-item">
                 <router-link 
                    class='sidebar-link'
                     to="/admin/page">
                      <i class="bi bi-stack"></i>
                      Pages
                </router-link>
            </li>
            
            <li class="sidebar-item">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/comment">
                    <i class="bi bi-collection-fill"></i>
                    Comments
                </router-link>
            </li>
            
            <li class="sidebar-item">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/faq">
                    <i class="bi bi-grid-1x2-fill"></i>
                    FAQ
                </router-link>    
            </li>

             <li class="sidebar-item" v-if="user.permissions.document_list">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/upload">
                    <i class="bi bi-grid-1x2-fill"></i>
                    Uploads
                </router-link>    
            </li>
              <li class="sidebar-item" v-if="user.permissions.user_list">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/user"> 
                      <i class="bi  bi-person-badge-fill"></i>
                      Users
                </router-link>
            </li>

             <li class="sidebar-item"  v-if="user.permissions.role_list">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/role"> 
                      <i class="bi  bi-person-badge-fill"></i>
                      Roles
                </router-link>
            </li>
              <li class="sidebar-item"  v-if="user.permissions.role_list">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/permission"> 
                      <i class="bi  bi-person-badge-fill"></i>
                      Permissions
                </router-link>
            </li>
            <li class="sidebar-item">
                  <router-link 
                    class='sidebar-link'
                     to="/admin/profile"> 
                      <i class="bi  bi-person-badge-fill"></i>
                      My Profile
                </router-link>
            </li>
            <li class="sidebar-item">
                <a href=""
                class="sidebar-link" 
                v-on:click="logout()">
                    <i class="bi bi-sign-out-alt"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x">
       <i data-feather="x"></i>
    </button>
   </div>
    </div>
            <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <div class="row">

                
                    <div class="col-md-8">
                <h3>DTP - Admin</h3> 
                    </div>
                     <div class="col-md-4" style="text-align:right">
                         <i>
                            Welcome - {{user.email}}
                         </i>
                     </div>
                     </div>
            </div>

            <div class="page-content">
                 <router-view class="page-content2"></router-view>
            </div>

            <footer>
                <div class="adminfooter clearfix mb-0 text-muted">
                <div class="float-start">
                <p>{{year}}</p>
                </div>
                <div class="float-end">
                <p>DTP</p>
                </div>
                </div>
            </footer>

            </div>  
 </div>
</template>
<script>
import {mapActions} from 'vuex';

export default {
    name:"dashboard-layout",
    data(){
        return {
            user:{},
            year:""
        }
    },
    created: function(){
      this.user = this.$store.state.auth.user;
      this.year = new Date().getFullYear();
    },
    methods:{

        ...mapActions({
            signOut:"auth/logout"
        }),
        async logout(){
            localStorage.setItem('user-token', "logout");
            // await axios.get('logout').then(()=>{
            //     this.signOut()
                this.$router.push('/')
           //  })
        }
    }
}
</script>

<style scoped deep>
.sidebar-menu .router-link-active{
    background-color: #435ebe;;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #25396f;
  }
</style>


<style  deep src="../newassets/css/bootstrap_admin.css"></style>
<style  deep src="../newassets/vendors/iconly/bold.css"></style>
<style  deep src="../newassets/vendors/perfect-scrollbar/perfect-scrollbar.css"></style>
<style  deep src="../newassets/vendors/bootstrap-icons/bootstrap-icons.css"></style>
<style  deep src="../newassets/css/app.css"></style>
 
 