<template>
  <div id="app">
   
    <div>
    

      <!-- Navigation -->
      <nav id="navbar" 
      class = "navbar navbar-expand-lg navbar-dark fixed-top navbar-default" role = "navigation">
        <div class="container">
          <!-- Image Logo -->
          <router-link 
            class="navbar-brand logo-image"
            to="/">
            <img src="../assets/images/logo.png" alt="alternative">
          </router-link>

          <!-- Text Logo - Use this if you don't have a graphic logo -->
      
        <router-link 
          class="navbar-brand logo-text"
          to="/">
          Digital Tanzania Project
        </router-link>

      
           <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

             <b-collapse id="nav-collapse" class="collapse navbar-collapse" is-nav>
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
              <li class="nav-item">
                <!-- <a class="nav-link active" aria-current="page" href="#header">Home</a> -->
              <router-link class="nav-link active"
              aria-current="page" to="/">
                HOME
              </router-link>
              </li>
              <li class="nav-item">
              <router-link class="nav-link"
              aria-current="" to="/home/about">
                ABOUT US
              </router-link>
              </li>
              <li class="nav-item">
              <router-link class="nav-link"
              aria-current="" to="/home/service">
                SERVICES
              </router-link>
              </li>
              <li class="nav-item">
              <b-nav-item-dropdown
              id="my-nav-dropdown"
              text="GRM"
              toggle-class="nav-link-custom" left>
              <b-dropdown-item>
                  <li class="nav-item">
                    <router-link class="nav-link"
                    aria-current="" to="/home/answers">
                      FEEDBACK
                    </router-link>
                    </li>
              </b-dropdown-item>
              <b-dropdown-item>
                <li class="nav-item">
                    <router-link class="nav-link"
                    aria-current="" to="/home/faq">
                      FAQ
                    </router-link>
                    </li>
              </b-dropdown-item>

              <b-dropdown-item>
                <li class="nav-item">
                    <router-link class="nav-link"
                    aria-current="" to="/home/grm">
                      GRM
                    </router-link>
                    </li>
              </b-dropdown-item>
            </b-nav-item-dropdown>
              </li>
               <li class="nav-item">
              <router-link class="nav-link"
              aria-current="" to="/home/tenders">
                TENDERS
              </router-link>
              </li>
          
  
              <li class="nav-item">
              <router-link class="nav-link"
              aria-current="" to="/home/contact">
                CONTACT US
              </router-link>
              </li>
           

              <li v-if="user">
                    <a @click="showLoginModel()"
                    class="dropdown-item">
                    LOGIN
                    </a> 
                </li>

            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.facebook.com/profile.php?id=100073677491893">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://twitter.com/dtp_tz?t=FaWbclyVibhftx2ox78uSw&s=09">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>

                <span class="fa-stack">
                    <a href="https://www.instagram.com/p/CVAGieSsbVz/?utm_medium=copy_link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                </span>
                
            </span>
             </b-collapse>
          <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
      </nav> <!-- end of navbar -->
      <!-- end of navigation -->
      <router-view/>
      <div class="footer-custom">
          <!-- Footer -->
          <section class="footer text-light">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 py-4 py-md-5">
                  <div class="d-flex align-items-center">
                    <h4 class="">Our Social</h4>
                  </div>
            
                  <div class="d-flex">
                    <div class="me-3">
                      <a href="https://www.facebook.com/profile.php?id=100073677491893">
                        <i class="fab fa-facebook-f fa-2x py-2"></i>
                      </a>
                    </div>
                    <div class="me-3">
                      <a href="https://twitter.com/dtp_tz?t=FaWbclyVibhftx2ox78uSw&s=09">
                        <i class="fab fa-twitter fa-2x py-2"></i>
                      </a>
                    </div>
                    <div class="me-3">
                      <a href="https://www.instagram.com/p/CVAGieSsbVz/?utm_medium=copy_link">
                        <i class="fab fa-instagram fa-2x py-2"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                
                      <router-link
                      to="/home/about">
                      <img style="width:70px; margin-left:20px" 
                      src="../assets/images/logo.png" alt="alternative">
              
                      </router-link>
                      
                  </div>

                </div> <!-- end of col -->

                <div class="col-lg-3 py-4 py-md-5">
                  <div>
                    <h4 class="py-2">Quick Links</h4>
                    <div class="d-flex align-items-center">
                      <i class="fas fa-caret-right"></i>
                      <router-link class="nav-link"
                      aria-current="" to="/home/about">
                      <p class="ms-3"> About Us</p>
                      </router-link>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fas fa-caret-right"></i>
                      <router-link class="nav-link"
                      aria-current="" to="/home/service">
                      <p class="ms-3"> Service</p>
                      </router-link>
                    </div>
                
                    <div class="d-flex align-items-center">
                      <i class="fas fa-caret-right"></i>
                      <router-link class="nav-link"
                      aria-current="" to="/home/contact">
                      <p class="ms-3"> Contact Us</p>
                      </router-link>
                    </div>
                  </div>
                </div> <!-- end of col -->

                <div class="col-lg-3 py-4 py-md-5">
                  <div>
                    <h4 class="py-2">Useful Links</h4>
                    <div class="d-flex align-items-center">
                      <i class="fas fa-caret-right"></i>
                      <a href="#"><p class="ms-3">Privacy</p></a>

                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fas fa-caret-right"></i>
                      <a href="#"><p class="ms-3">Terms</p></a>
                    </div>
              
                    <div class="d-flex align-items-center">
                      <i class="fas fa-caret-right"></i>
                      <a href="#"><p class="ms-3">FAQ</p></a>
                    </div>
                  </div>
                </div> <!-- end of col -->

                  <div class="col-lg-3 py-4 py-md-5">
                  <div>
                  <h4 class="py-2">Contact Information</h4>
                    <ul>
                      <li class="footer-cont">
                    <div class="d-flex align-items-center">
                      <a> P.O.Box 677, Sengia Road
                        <br/>
                        Kisusu Street, Area D
                        <br/>
                        Dodoma - Tanzania
                      </a>
                    </div>
                      </li>
                      <li class="footer-cont">
                        <div class="d-flex align-items-center">
                      <a>
                        dtpmalalamiko@mawasiliano.go.tz
                      </a>
                    </div>
                      </li>
                      <li class="footer-cont">
                      <div class="d-flex align-items-center">
                      <a><span class="cont-attr">
                        Phone:
                        </span>
                        +255 733 000 444
                        </a>
                    </div>
                      </li>
                    </ul>
                
                  </div>
                </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
          </section> <!-- end of footer -->
          <!-- Bottom -->
          <div class="bottom py-2 text-light" >
            <div class="container d-flex justify-content-between">
              <div>
                <p>Copyright © {{year}} All Right Reserved</p><br>
              
              </div>
              <!-- <div>
                <i class="fab fa-cc-visa fa-lg p-1"></i>
                <i class="fab fa-cc-mastercard fa-lg p-1"></i>
                <i class="fab fa-cc-paypal fa-lg p-1"></i>
                <i class="fab fa-cc-amazon-pay fa-lg p-1"></i>
              </div> -->
            </div> <!-- end of container -->
          </div> 
      </div>
      <!-- end of bottom -->
      <b-modal  id="login_modal"
          ref="showLoginModel" 
          title="Login" 
          hide-footer= true
          hide-header = true
          @ok.prevent="submitLogin">
          <login-form/>
      </b-modal>
    </div>
    <div id="loading" v-if="loading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </div>
  
   
  </div>
</template>
<script>
import LoginForm from './login.vue'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {

data() {
    return {
        login:{
          username:null, 
          password:null
        },
        color: '#0ee951',
        size: '20px',
        margin: '2px',
        radius: '2px',
        loading:true,
        user:{},
        year:""
    }
},
components: { 
  LoginForm, PulseLoader },
created: function(){
  this.user = this.$store.state.auth.user;
    this.year = new Date().getFullYear();
    this.$store.commit("page/SET_IP", location.host);
    this.$store.commit("page/SET_PAGE", "Home");

   this.$store.dispatch("page/register");

   window.addEventListener('load', function(){});
   this.loading = false

},
  methods:{
    showLoginModel() {
      // deep clone
      this.$refs.showLoginModel.show()
    }
  },
  
}
</script>
<style scoped>
.footer-custom a {
    color: white !important;
    text-decoration: none !important;
}
.footer-cont{
  margin-bottom:10px;
}
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 9999;
}
.v-spinner {
  margin-top:30%;
}
</style>
<!--<style scoped src="../../public/css/style.css"></style>
<style scoped src="../../public/css/bootstrap.min.css"></style>
<style scoped src="../../public/css/fontawesome-all.min.css"></style>
<style scoped src="../../public/css/aos.min.css"></style>
<style scoped src="../../public/css/swiper.css"></style>--->



