
<template>
  <div>
<div class="login-card">

    <div v-if="loggingIn" class="container-loading">
      <img src="../assets/images/loading.gif" alt="Loading Icon">
    </div>

    <h1>Log-In</h1><br>
    <b-form class="formLogin" @submit.prevent="submitLogin()">
        <input type="text" v-model="login.email" placeholder="Email" required>
        <input type="password" v-model="login.password" placeholder="Password" required>
         <center>
          <button 
          type="submit"
          name="login"
          class="login login-submit">
              {{loginStatus}}
          </button>
         </center>
   </b-form>

    <div class="login-help">
      <!-- <span v-if ="errorSms" class="text-danger">
        {{errorSms}}<br/>
      </span> -->
      <a href="#">Forgot Password</a>
    </div>

</div>

  </div>
</template>
<script>
import { mapActions } from 'vuex';
import axios from 'axios';
export default {
    data(){
        return {
            login:{
                email:"",
                password:""
            },
            processing:false,
            loginStatus:"Login",
            loggingIn:false
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/login'
        }),
        // loginData: function(){
        // this.loggingIn = true;
        // return
        // },,
        async submitLogin(){
            this.processing = true;
            this.loggingIn = true;
             return new Promise((resolve, reject) => {
            
             axios.post('login', this.login).then(response=>{
              const token = response.data.data.token;
        
               this.loggingIn = false;
              console.log(response);
              if(response.data.status == "error"){
                 alert(response.data.data);
                return
              }
              localStorage.setItem('user-token', token);
              axios.defaults.headers.common = { 
                'Accept': 'application/json', 
                'Authorization': 'Bearer '+ token
            };
            this.signIn();
             resolve(response)
            }).catch(error =>{
                alert(error)
                  reject(error)
            }).finally(()=>{
                this.processing = false
            })
              })
        },
    }
}
</script>

<style scope>
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

.login-card {
  padding: 40px;
  /* width: 274px; */
  background-color: #F7F7F7;
  /* margin: 0 auto 10px; */
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}
.container-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: rgba(0,0,0,.3); */
      img {
        width: 2rem;
        height: 2rem;
      }
    }
.modal-body {
    padding: 1px !important;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  width:100px;
  margin-bottom:15px;
  padding: 0 8px;

/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.formLogin {
      display: flex;
      flex-flow: column;
      *:not(:last-child) {
        margin-bottom: 1rem;
      }
     
    }

.login-submit {
    border-radius: 0;
    border-width: 2px;
    padding: 10px 30px;
    border-image-slice: 1;
    background-image: none;
    background: transparent;
  text-shadow: 0 1px rgba(0,0,0,0.1);
    border-image-source: var(--gradient);
    box-shadow: 5px 5px 0px 0px var(--secondary);
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
</style>